@font-face {
  font-family: 'PT Root VF';
  src:
          url('../../../public/fonts/PTRootVF/pt-root_regular.woff2') format('woff2'),
          url('../../../public/fonts/PTRootVF/pt-root_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root VF';
  src:
          url('../../../public/fonts/PTRootVF/pt-root_medium.woff2') format('woff2'),
          url('../../../public/fonts/PTRootVF/pt-root_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root VF';
  src:
  url('../../../public/fonts/PTRootVF/pt-root_demibold.woff') format('woff'),
  url('../../../public/fonts/PTRootVF/pt-root_demibold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}



@font-face {
  font-family: 'PT Root VF';
  src:
          url('../../../public/fonts/PTRootVF/pt-root_light.woff2') format('woff2'),
          url('../../../public/fonts/PTRootVF/pt-root_light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root VF';
  src:
          url('../../../public/fonts/PTRootVF/pt-root_extra-light.woff2') format('woff2'),
          url('../../../public/fonts/PTRootVF/pt-root_extra-light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root VF';
  src:
          url('../../../public/fonts/PTRootVF/pt-root_bold.woff2') format('woff2'),
          url('../../../public/fonts/PTRootVF/pt-root_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}