.btn-grey{
  font-size: 16rem !important;
  font-weight: 500 !important;
  text-align: center;
  color: var(--c-dark);
  background: var(--c-grey-bg-light);
  width: 197rem;
  padding: 10rem;

  &:hover{
    background: var(--c-main);
    color: #fff;
  }

  &:active{
    background: #fff;
  }
}

%link-underline{
  text-decoration-line: underline;
  text-underline-offset: 0.2em;
  text-decoration-skip-ink: none;
}

%link-hover-underline{
  &:hover{
    @extend %link-underline
  }

  &:has(u):hover, &[href^="tel:"]{
    text-decoration: none;
  }
}

@mixin lg{
  @media (max-width: 1600px) {
    @content
  }
}

@mixin lg-book{
  @media (min-width: 1024px) and (min-height: 80vw){
    @content
  }
}


@mixin md {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin md-book{
  @media (min-width: 640.1px) and (min-height: 80vw){
    @content
  }
}

@mixin sm{
  @media (max-width: 640px) {
    @content
  }
}

@mixin flex-sb-c{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
