.btn-grey{
  font-size: 16rem !important;
  font-weight: 500 !important;
  text-align: center;
  color: var(--c-dark);
  background: var(--c-grey-bg-light);
  width: 197rem;
  padding: 10rem;

  &:hover{
    background: var(--c-main);
    color: #fff;
  }

  &:active{
    background: #fff;
  }
}

%link-underline{
  text-decoration-line: underline;
  text-underline-offset: 0.16em;
  text-decoration-skip-ink: none;
}

%link-hover-underline{
  &:hover{
    @extend %link-underline
  }

  &:has(u):hover, &[href^="tel:"]{
    text-decoration: none;
  }
}

%text-overflow-ellipsis{
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

@mixin xxl{
  @media (min-width: 2560px) {
    @content
  }
}

@mixin lg{
  @media (max-width: 1600px) {
    @content
  }
}

@mixin lg-book{
  @media (min-width: 1024px) and (min-height: 80vw){
    @content
  }
}


@mixin md {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin md-book{
  @media (min-width: 640.1px) and (min-height: 80vw){
    @content
  }
}

@mixin sm{
  @media (max-width: 640px) {
    @content
  }
}

@mixin flex-sb-c{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Базовые брейкпоинты
$breakpoints: (
        xl: '(min-width: 1920px)',
        xxl: '(min-width: 2560px)',
        lg: '(max-width: 1919.9px)',
        lg-book: '(min-width: 1024px) and (min-height: 80vw)',
        md: '(max-width: 1024px)',
        md-book: '(min-width: 640.1px) and (min-height: 80vw)',
        sm: '(max-width: 640px)',
) !default;

// Универсальный адаптивный миксин
@mixin adaptive($properties) {
  @each $prop, $values in $properties {
    // Базовое значение
    #{$prop}: map-get($values, default);

    // Генерация медиазапросов
    @each $bp-name, $bp-query in $breakpoints {
      @if map-has-key($values, $bp-name) {
        @media #{$bp-query} {
          $value: map-get($values, $bp-name);

          @if type-of($value) == number and unitless($value) {
            #{$prop}: vu($value, $bp-name);
          } @else {
            #{$prop}: $value;
          }
        }
      }
    }
  }
}

// Настройки базовых ширины для брейкпоинтов
$base-widths: (
        xxl: (width: 2560, height: 1440),
        xl: (width: 1920, height: 1080),
        lg: (width: 1024, height: 600),
        md: (width: 768, height: 500),
        sm: (width: 390, height: 900),
) !default;

// Функция для генерации динамических единиц
@function vu($multiplier: 1, $breakpoint: null, $adaptiveHeight: false) {
  @if $breakpoint {
    $base: map-get($base-widths, $breakpoint);
    $value: calc(#{$multiplier} * (100vw / #{map-get($base, "width")}));

    @if $adaptiveHeight{
      @return min(#{$value}, calc((#{$multiplier} / (#{map-get($base, "height")} / 100))*1vh))
    }

    @return $value
  }
    @return calc(#{$multiplier} * 1rem);
}

@mixin standard-font{
  @include adaptive((
          font-size: (
                  default: 13rem,
                  xxl: 27,
                  md: 11,
                  sm: 13
          )
  ));
}


@mixin title-font{
  @include adaptive((
          font-size: (
                  default: 42rem,
                  xxl: 77,
                  xl: 80,
                  sm: 28
          )
  ));

  font-weight: 300;
}

@mixin title-small-font{
  @include adaptive((
          font-size: (
                  default: 36rem,
                  xxl: 55,
                  xl: 60,
                  sm: 26
          )
  ));

  font-weight: 500;
}