@import "fonts";
@import "@/app/styles/mixins-and-extends";

:root{
  --c-dark: #181818;
  --c-main: #0B2719;
  --c-green-text: #6E7A64;
  --c-yellow: #E0F273;
  --c-red: #E74F3D;
  --c-grey-bg-light-2: #F8F8F8;
  --c-grey-bg-light: #EFEFEF;
  --c-grey-bg: #D9D9D9;
  --c-grey: #BCBCBC;
  --c-grey-dark: #959595;
  --c-line: #E5E5E5;
  --w-line-main-screen: 0.6rem;
  --w-line: max(1.5px, 1.5rem);
  --btn-position-x: calc(var(--p-x) - 6rem);
  --header-scale: 1;
  --header-height: calc(43.7rem * var(--header-scale));

  @include lg{
    --w-line-main-screen: max(1.2px, 1.2rem);
  }

  @include md{
    --header-scale: 1.3;
  }

  @include adaptive((
          --p-x: (default: 28.5rem, xl: 48, sm: 20),
          --h-btn: (default: 40rem, xxl: 80, xl: 60, md: 33, sm: 44)
  ))
}

*{
  margin: 0;
  padding: 0;
  font-family: 'PT Root VF', sans-serif;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  color: var(--c-dark);
  white-space: pre-line;
  transition: color 0.5s, text-decoration-color 0.5s;
}

html{
  overflow: hidden;
  font-size: calc(100vw / 1024);

  @include sm{
    font-size: calc(100vw / 390);
  }
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  transition: 0.3s;
  overflow: clip;
}

.lenis__content{
  transition: 0.3s;
}

.lenis.lenis-smooth{
  height: 100%;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar { width: 0 !important }
}

body {
  font-family: 'PT Root VF', sans-serif;
  background: var(--c-grey-bg-light-2);
}

.container{
  max-width: 964rem;
  margin-inline: auto;

  @include adaptive((
          max-width: (defaul: 967rem, xl: 1824, sm: 350)
  ))
}

p{
  color: inherit;
}

a {
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &, a:link, a:visited {
    color: inherit;
  }

  &[href^="tel:"]{
    cursor: default;
  }
}

.link-underline, u {
  @extend %link-underline
}

.link-underline:hover{
  text-decoration-color: transparent;
}

.leaflet-control-attribution.leaflet-control{
  transform: scale(0.1);
}

u{
  color: inherit;
  font-size: inherit;
  font-weight: inherit;

  a &:hover{
    text-decoration-color: transparent;
  }
}


fieldset {
  border: none;
}

button, [type="submit"] {
  display: inline-block;
  box-shadow: none;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  transition: 0.3s;

  &:disabled{
    pointer-events: none;
    cursor: default;
  }
}

input{
  box-shadow: none;
  background-color: transparent;
  background: none;
  border: none;

  &:focus{
    border: none;
    outline: none;
  }
}

.btn-grey {
  @extend %btn-grey;
}

label{
  cursor: pointer;
}

table *{
  font-variant-numeric: tabular-nums;
}

.btn--disable{
  opacity: 0.3;
  pointer-events: none;
}

span{
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.white, .white *{
  color: #fff !important;
}

.yellow, .yellow *{
  color: var(--c-yellow) !important;
}

.red, .red *{
  color: var(--c-red) !important;
}

.green, .green *{
  color: var(--c-green-text) !important;
}

.green-dark, .green-dark *{
  color: var(--c-main) !important;
}

.grey, .grey *{
  color: var(--c-grey) !important;
}

.grey-dark, .grey-dark *{
  color: var(--c-grey-dark);
}

h1, h2, h3, h4, h5{
  *{
    font-size: inherit !important;
  }
}

.main-screen{
  height: calc(100vh - var(--header-height));
  width: 100%;
  max-height: 80vw;
  display: flex;
  overflow: hidden;

  @include sm{
    max-height: unset;
    flex-direction: column;

    >*{
      width: 100% !important;
    }
  }

  &__bg{
    position: absolute !important;
    inset: 5rem;
    z-index: 1 !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.titles-block{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include sm{
    flex-direction: column-reverse;
    gap: 40rem;
  }

  &__title{
    max-width: 19.524em;

    @include title-font;

    &--small{
      max-width: 22.778em;
      color: var(--c-green-text);

      @include title-small-font;
    }
  }

  &__section{
    padding-top: 0.505em;
    font-weight: 400;

    @include adaptive((
            font-size: (default: 16rem, xxl: 35, xl: 24, md: 13, sm: 15)
    ))
  }
}

.note{
  color: var(--c-red);
  font-weight: 400;
  line-height: 1.4em;

  //@include adaptive((
  //        font-size: (
  //                default: 9rem,
  //                xxl: 17,
  //                md-book: 8,
  //                sm: 10
  //        )
  //));

  @include standard-font-small
}

.btn-round{
  @include adaptive((
          width: (default: 25rem, md: 42rem )
  ));

  aspect-ratio: 1/1;
  background: #fff;
  box-shadow: -2.03px 7.45px 15.78px 0px #0000000D,  0px 5.42px 7.59px -4.06px #00000040, 0px 0.68px 1.96px 0px #00000040;
  border-radius: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  @include hover-scale;

  &__arr{
    width: 100%;
    position: relative;


    svg{
      width: 100%;
      height: auto;
    }
  }


  &--increase{
    transform: rotate(-45deg);
    padding: 0;

    &:hover{
      transform: rotate(-45deg) scale(1.2);
    }

    &:active{
      transform: rotate(-45deg) scale(1);
    }

    div{
      height: 100%;
      width: 100%;
      aspect-ratio: 1/1;
    }

    svg{
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  &--decrease{
    &::before{
      content: '';

      @include adaptive((
              width: (default: 10rem, md: 18rem ),
              height: (default: 1.63rem, md: 2.7rem)
      ));
      background: var(--c-green-text);
    }
  }
}