@import "@/components/main-screen-image-link/main-screen-image-link";
@import "@/components/_about/about-main-screen/abouts-main-screen";
@import "@/components/_competition-results/competition-results-main-screen/competition-results-main-screen";
@import "@/components/_festival/festival-main-screen/festival-main-screen";
@import "@/components/_festival-details/festival-details-main-screen/festival-details-main-screen";
@import "@/components/_home/home-main-screen/home-main-screen";
@import "@/components/_news/news-main-screen/news-main-screen";
@import "@/components/_partners/partners-main-screen/partners-main-screen";
@import "@/components/_contacts/contacts-main-screen/contacts-main-screen";

.main-screen{
  height: calc(#{svh(100, true)} - var(--header-height));
  width: 100%;
  max-height: 80vw;
  display: flex;
  overflow: hidden;

  @include sm{
    max-height: unset;
    flex-direction: column;

    >*{
      width: 100% !important;
    }
  }

  &__bg{
    position: absolute !important;
    inset: 5rem;
    z-index: 1 !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
