@import "@/app/styles/mixins-and-extends";

.pagination{
  display: flex;
  justify-content: center;
  gap: 16rem;
  margin-bottom: 50rem;

  *{
    color: var(--c-grey);

    @include standard-font
  }

  &__page{
    &--active, &:hover{
      color: var(--c-dark);
    }
  }

  &__arrow{
    width: 0.5em;
    flex-shrink: 0;
    transform: translateY(0.17em);

    &--next{
      transform: rotate(180deg);
    }

    svg{
      width: 100%;
      height: auto;
    }

    &:disabled svg *{
      stroke: var(--c-grey);
      cursor: default;
    }
  }
}