@import "@/app/styles/mixins-and-extends";

.project-images-slider{

  img{
    width: 100%;
  }

  &__control{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;

    @include adaptive((
            gap: (default: 7rem, md: vu(14, md), sm: vu(14, sm)),
            padding-block: (default: 25rem 21rem, md: 37rem 25rem)
    ));

    span{
      @include adaptive((
              font-size: (default: 12rem, md: vu(20, md), sm: vu(20, sm))
      ))
    }

      &-btn{
        position: relative;
        width: 5rem;

        @include md{
          width: 11rem;
        }

        &--prev{
          top: -1rem;
          @include md{
            top: 2rem;
          }
        }

        &--next{
          top: -1rem;
          transform: rotate(180deg);
        }

        svg{
          width: 100%;
          height: auto;

          *{
            stroke: #CACACA;
          }
        }
      }

  }

  &__btn{
    @include adaptive((
            width: (default: 25rem, md: 42rem )
    ));

    aspect-ratio: 1/1;
    background: #fff;
    box-shadow: 1.34px 2.69px 19.28px 0px #0000001A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c-green-text) !important;

    svg{
      @include adaptive((
              width: (default: 10rem, md: 18rem ),
              top: (default: 1.2rem, md: 2rem)
      ));

      height: auto;
      position: relative;

      *{
        stroke: var(--c-green-text);
      }
    }

    &--increase{
      transform: rotate(-45deg);

      @include adaptive((
              padding-bottom: (default: 1.5rem, md: 0)
      ))
    }

    &--decrease{
      &::before{
        content: '';

        @include adaptive((
                width: (default: 10rem, md: 18rem ),
                height: (default: 1.6rem, md: 2.7rem)
        ));
        background: var(--c-green-text);
      }
    }


    &--back{
      position: absolute;
      right: var(--p-y);
      top: 25rem;
      z-index: 9;
    }
  }

  &__swiper{
    margin: 0 var(--p-y) 15rem;

    @include md{
      margin: 0;
    }
  }

  &__text-slide{
    align-self: flex-end;
    padding-bottom: calc(435rem - 100vh + 70rem);
  }

  &__scale{
    position: fixed;
    left: var(--p-y);
    top: 25rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 7rem;

    &-img-wrap{
      position: fixed;
      min-width: 100vw;
      height: 100vh;
      top: 0;
      z-index: -1;

      &--opened{
        z-index: 8;
        background: rgba(0, 0, 0, 0.55);
        backdrop-filter: blur(7.400000095367432px);

        &::before{
          content: '';
          opacity: 0.45;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          z-index: 8;
          height: 135rem;
          background: linear-gradient(180deg, #000000 30%, rgba(0, 0, 0, 0) 100%);
        }

        .project-modal:has(&){
          overflow-y: hidden;
        }
      }


      /* Для альбомной ориентации (ширина > высоты) */
      @media (orientation: landscape) {
        img {
          width: 100vw;
          height: auto;
        }
      }

      /* Для портретной ориентации (высота > ширины) */
      @media (min-height: 140vw) {
        img {
          width: auto;
          height: 100vh;
        }
      }
    }
  }
}