@import "../../../app/styles/mixins-and-extends";
.home-main-screen{

  &__slider{
    width: 100%;
    height: 100%;

    &-wrapp{
      width: 66.5%;
      position: relative;
      z-index: 2;

      @include md-book{
        width: 50%;
      }

      @include sm{
        width: 100%;
        min-height: 50%;
      }

      &:before{
        content: '';
        width: 100vw;
        height:var(--w-line);
        background: #E5E5E5;
        position: absolute;
        left: 0;
        top: calc(50% - var(--w-line)/2);
        z-index: 5;
      }

      &::after{
        content: '';
        height: 100%;
        width: 0;
        border-left: var(--w-line) solid #E5E5E5;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
        background: #E5E5E5;

        @include sm{
          display: none;
        }
      }
    }
  }

  &__diagonal{
    position: absolute;
    top: 75%;
    //right: -12%;
    //left: 50%;
    //bottom: 0;
    z-index: 3;
    border-top: var(--w-line) solid #E5E5E5;
    //background: linear-gradient(to top left, transparent calc(50% - var(--main-screen-line)/2), #E5E5E5 calc(50% - var(--main-screen-line)/2), #E5E5E5 calc(50% + var(--main-screen-line)/2), transparent calc(50% + var(--main-screen-line)/2))  ;
  }

  &__aside {
    position: relative;
    width: 33.5%;
    background-color: var(--c-main);
    background-image: url("../../../../public/Assets/Pages/Home/bg/1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 21rem 0 25rem 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include md-book {
      width: 50%;
    }

    @include sm {
      width: 100%;
      min-height: 50%;
    }

    * {
      position: relative;
      z-index: 2;
    }

    &-ellipse {
      content: '';
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 0 50% 50% 0;
      border: var(--w-line) solid #E5E5E5;
      border-left: none;

      &-wrapp {
        height: 112%;
        max-width: 88%;
        min-width: 76%;
        position: absolute;
        top: -6%;
        left: 0;
        z-index: 1;
        aspect-ratio: 1/2;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
      }
    }

    * {
      font-weight: 500;
      font-size: 13rem;
      letter-spacing: 0.02em;

      @include md-book {
        font-size: 20rem;
      }

      @include sm {
        font-size: min(17rem, 1.889vh);
      }
    }


    h2{
      color: #fff;
      font-size: min(26rem, 4.333vh);
      line-height: 1.2em;
      letter-spacing: 0.03em;
      font-weight: 300;
      position: absolute;
      top: calc(50% - 3.769em);

      @include md-book{
        font-size: 37rem;
      }

      @include sm{
        position: relative;
        top: 0;
        font-size: min(33rem, 3.667vh);
      }
    }

    p:last-child {
      display: flex;
      align-items: baseline;

      a {
        line-height: 1em;
        text-align: center;

        &:first-child {
          color: #ffffff;
          border: var(--w-line) solid #E5E5E5;
          background: var(--c-main);
          padding: 12rem 35rem;
        }

        &:last-child{
          margin-inline: auto;
        }
      }
    }
  }

  &__slide{
    &-content{
      justify-content: space-between !important;
      width: 100%;
      height: 100%;
    }

    &-title{
      font-size: min(50rem, 8.398vh);
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.02em;
      width: 383rem;
      position: relative;

      @include lg{
        font-size: min(43rem, 7.167vh);
      }
      @include sm{
        font-size: min(30rem, 3.333vh);
      }

      &-wrapp{
        position: relative;
        z-index: 3;
        background: rgba(0, 0, 0, 0.25);
        height: 50%;
        padding-inline: var(--p-y);
        padding-block: 10rem;

        @include lg{
          padding-block: 21rem;
        }

        &::before{
          content: '';
          width: var(--w-line);
          height: 200%;
          background: #E5E5E5;
          position: absolute;
          top: 0;
          left: 340rem;

          @include md-book{
            display: none;
          }

          @include sm{
            display: none;
          }
        }
      }
    }

  }
}