@import "../../../app/styles/mixins-and-extends";
.home-main-screen{

  &__slider{
    width: 100%;
    height: 100%;

    &-wrapp{
      width: 66.5%;
      position: relative;
      z-index: 2;

      @include adaptive((
              width: (default: 66.5%, xxl: 1866, md-book: 50%, sm: 100%)
      ));

      @include sm{
        min-height: 52.4%;
      }

      &:before{
        content: '';
        width: 100vw;
        height:var(--w-line-main-screen);
        background: var(--c-line);
        position: absolute;
        left: 0;
        top: calc(50% - var(--w-line-main-screen)/2);
        z-index: 5;
      }

      &::after{
        content: '';
        height: 100%;
        width: 0;
        border-left: var(--w-line-main-screen) solid var(--c-line);
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
        background: var(--c-line);

        @include sm{
          display: none;
        }
      }
    }
  }

  &__diagonal{
    position: absolute;
    top: 75%;
    //right: -12%;
    //left: 50%;
    //bottom: 0;
    z-index: 3;
    border-top: var(--w-line-main-screen) solid var(--c-line);
    //background: linear-gradient(to top left, transparent calc(50% - var(--main-screen-line)/2), var()--c-line calc(50% - var(--main-screen-line)/2), var()--c-line calc(50% + var(--main-screen-line)/2), transparent calc(50% + var(--main-screen-line)/2))  ;
  }

  &__aside {
    border-top: var(--w-line-main-screen) solid var(--c-line);
    position: relative;
    background-color: var(--c-main);
    overflow: hidden;
    padding: 21rem 0 25rem 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include adaptive((
            width: (default: 33.5%, xxl: 694, md-book: 50%, sm: 100%)
    ));

    @include sm {
      min-height: 47.6%;
      padding: 13rem 0 23rem 18rem;
    }

    * {
      position: relative;
      z-index: 3;
    }

    &-ellipse {
      content: '';
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 0 50% 50% 0;
      border: var(--w-line-main-screen) solid var(--c-line);
      border-left: none;

      &-wrapp {
        height: 112%;
        max-width: 88%;
        min-width: 76%;
        position: absolute;
        top: -6%;
        left: 0;
        z-index: 2;
        aspect-ratio: 1/2;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;

        @include xxl{
          height: 118%;
          top: -13%;
        }

        @include sm{
          left: -8%;
        }
      }
    }

    * {
      @include standard-font;

      //@include md-book {
      //  font-size: 20rem;
      //}

      @include sm {
        font-size: 14rem;
      }
    }


    h2{
      color: #fff;
      line-height: 1.2em;
      letter-spacing: 0.03em;
      font-weight: 300;
      position: absolute;
      top: calc(50% - 3.769em);

      @include adaptive((
              font-size: (
                      default: vu(28, lg, true),
                      xxl:vu(48.67, xxl, true),
                      //xl: vu(86, xl, true),
                      sm: vu(33, sm, true)
              )
      ));

      @include sm{
        line-height: 1.1em;
      }

      a{
        transition: 0.5s;

        @include hover{
          &:hover{
            transform: scale(1.05);
          }
        }

        &:active{
          color: transparent;
        }
      }

      @include md-book{
        font-size: 37rem;
      }

      @include sm{
        position: relative;
        top: -0.2em;
      }
    }

    p:last-child {
      display: flex;
      align-items: baseline;

      a {
        line-height: 1em;
        text-align: center;

        &:first-child {
          color: #ffffff;
          border: var(--w-line-main-screen) solid var(--c-line);
          background: var(--c-main);
          transition: 0.5s;
          text-align: center;

          @include adaptive((
                  padding: (default: 12rem, xxl: 30, md: 10, md-book: 15, sm: 12),
                  width: (default: 173rem, xxl: 365, md: 130, md-book: 182, sm: 189)
          ));

          &:hover{
            background: var(--c-green-text);
          }

          &:active{
            background: #fff;
          }
        }


        &:last-child{
          margin-inline: auto;
        }
      }
    }
  }

  &__slide{
    &-content{
      justify-content: space-between !important;
      width: 100%;
      height: 100%;
      background: #fff;
    }

    &-title{
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.02em;
      width: 383rem;
      position: relative;
      z-index: 2;

      @include adaptive((
              font-size: (
                      default: min(43rem, 7.167vh),
                      xxl:vu(123, xxl, true),
                      xl: vu(100, xl, true),
                      sm: vu(37, sm, true)
              )
      ));

      &-wrapp{
        position: relative;
        z-index: 3;
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(1.0659056901931763px);
        height: 50%;
        padding-inline: var(--p-x);
        padding-block: 10rem;

        @include lg{
          padding-block: 21rem;
        }

        @include sm{
          padding-block: 0;
          display: flex;
          align-items: center;
        }

        &::after{
          content: '';
          width: var(--w-line-main-screen);
          height: 200%;
          background: var(--c-line);
          position: absolute;
          z-index: 1;
          top: 0;
          left: vu(579, xxl);
          display: none;

          @include xxl{
            display: block;
          }
        }

        &::before{
          content: '';
          width: var(--w-line-main-screen);
          height: 200%;
          background: var(--c-line);
          position: absolute;
          z-index: 1;
          top: 0;
          left: 50%;

          @include md-book{
            display: none;
          }

          @include sm{
            display: none;
          }
        }
      }
    }

  }
}