@import "../../../styles/mixins";
.home-main-screen{

  &__slider{
    width: 100%;
    height: 100%;

    &-wrapp{
      width: 66.5%;
      position: relative;
      z-index: 2;

      @include md-book{
        width: 50%;
      }

      @include sm{
        width: 100%;
        min-height: 50%;
      }

      &:before{
        content: '';
        width: 100vw;
        height: max(1px, 1rem);
        background: #E5E5E5;
        position: absolute;
        left: 0;
        top: calc(50% - max(1px, 1rem));
        z-index: 5;
      }

      &::after{
        content: '';
        height: 100%;
        width: max(1px, 1rem);
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
        background: #E5E5E5;

        @include sm{
          display: none;
        }
      }
    }
  }

  &__aside{
    position: relative;
    width: 33.5%;
    background-color: var(--c-main);
    background-image: url("../../../../public/Assets/Pages/Home/bg/1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 21rem var(--p-y) 25rem 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include md-book{
      width: 50%;
    }

    @include sm{
      width: 100%;
      min-height: 50%;
    }

    *{
      position: relative;
      z-index: 2;
    }

    &-ellipse{
      content: '';
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 0 50% 50% 0;
      border: 1.5px solid #E5E5E5;
      border-left: none;

      &-wrapp{
        height: 112%;
        max-width: 88%;
        min-width: 76%;
        position: absolute;
        top: -6%;
        left: 0;
        z-index: 1;
        aspect-ratio: 1/2;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
      }
    }

    *{
      font-weight: 500;
      font-size: 13rem;

      @include md-book{
        font-size: 20rem;
      }

      @include sm{
        font-size: min(17rem, 1.889vh);
      }
    }

    &-title{
      color: #fff;
      font-size: min(26rem, 4.333vh);
      line-height: 1.2em;
      letter-spacing: 0.03em;
      font-weight: 300;
      position: absolute;
      top: calc(50% - 3.769em);

      @include md-book{
        font-size: 37rem;
      }

      @include sm{
        position: relative;
        top: 0;
        font-size: min(33rem, 3.667vh);
      }
    }
  }

  &__slide{
    &-content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &-title{
      font-size: min(43rem, 7.167vh);
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.02em;
      width: 383rem;
      position: relative;

      @include sm{
        font-size: min(30rem, 3.333vh);
      }

      &-wrapp{
        position: relative;
        z-index: 3;
        background: rgba(0, 0, 0, 0.15);
        height: 50%;
        padding: 21rem var(--p-y);
        //border-bottom: max(1px, 1rem) solid #E5E5E5;

        &::before{
          content: '';
          width: max(1px, 1rem);
          height: 200%;
          background: #E5E5E5;
          position: absolute;
          top: 0;
          left: 340rem;

          @include md-book{
            display: none;
          }

          @include sm{
            display: none;
          }
        }
      }
    }

  }

  &__links{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__link{
    color: #6E7A64;
    line-height: 1em;
    &-main{
      color: #E5E5E5;
      border: max(1px, 1rem) solid #E5E5E5;
      background: var(--c-main);
      padding: 12rem 35rem;
    }
  }
}