@import "@/app/styles/mixins-and-extends";

.back{
  z-index: 7;
  top: 55rem;
  left: var(--p-y);
  padding-right: 3rem;
  box-shadow: -2.03px 7.45px 15.78px 0px #0000000D,  0px 5.42px 7.59px -4.06px #00000040, 0px 0.68px 1.96px 0px #00000040;

  @include lg{
    padding-top: 1rem;

  }
}