@import "../../app/styles/mixins-and-extends";
.input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2.8em;
  gap: 15rem;
  border-top: var(--c-line) solid var(--w-line);
  color: var(--c-grey);

  @include sm{
    padding-block: .8em;
    flex-wrap: wrap;
  }

  &:first-child{
    border-top: none;
  }

  &:last-child:not(.input--dropdown){
    border-bottom: var(--c-line) solid var(--w-line);
    margin-bottom: 40rem;
  }

  &--dropdown{
    height: auto;
    align-items: stretch;
    padding-top: .8em;

    @include sm{
      flex-direction: column;
    }

    input{
      display: none;
    }
  }

  &, *{
    @include standard-font;

    @include sm{
      font-size: 14.57rem;
    }
  }

  input[type="radio"]{
    display: none;

    &:checked+label{
      color: var(--c-dark);
      cursor: default;
    }
  }

  &__text{
    width: 100%;

    &::placeholder{
      color: var(--c-grey);
      text-transform: uppercase;
      font-weight: 400;

      @extend %text-overflow-ellipsis
    }
  }

  &__placeholder{
    min-width: max-content;
    color: var(--c-grey);
    text-transform: uppercase;
    font-weight: 400;

    @include sm{
      min-width: unset;
    }
  }

  &__error, &__clue{
    min-width: max-content;
    text-transform: uppercase;
  }

  &__clue{
    opacity: 0.4;

    @include sm{
      display: none;
    }
  }

  &__error{
    min-width: max-content;
    text-transform: uppercase;

    @include sm{
      display: none;
    }

    .input:has(&){
      border-top: var(--c-red) solid var(--w-line);
      border-bottom: var(--c-red) solid var(--w-line) !important;

      &+.input{
        border-top: 0;
      }
    }

    + .input__clue{
      display: none;
    }
  }

  &__radios{
    text-transform: uppercase;
    display: flex;
    gap: 15rem;

    *{
      color: var(--c-grey);
    }


    &-line{
      border-left: solid var(--w-line) var(--c-line);
      height: 14rem;
      align-self: center;
      flex-shrink: 0;
    }
  }

  &__dropdown{
    position: relative;
    top: -8rem;
    width: 100%;
    height: 6.3em;

    @include sm{
      height: 9.45em;
    }
  }

  .dropdown{
    &__title{
      padding: 8rem;
      *{
        color: var(--c-dark);
      }

      &:hover{
        border-bottom: none !important;
        background: var(--c-grey-bg-light-2);
      }
    }

    &__line {
      border-color: var(--c-line);
    }

    &__arrow svg *{
      stroke: currentColor;
    }

    &__content{
      background: var(--c-grey-bg-light-2);
    }
  }
}