@import "../../app/styles/mixins-and-extends";
.input{
  display: flex;
  justify-content: space-between;
  gap: 15rem;
  border-top: #BEBCBB solid max(1px, 1rem);
  padding-block: 9rem;

  &:first-child{
    border-top: none;
  }

  &--dropdown{

    @include sm{
      flex-direction: column;
    }
  }

  *{
    font-size: 13rem;
    font-weight: 500;

    @include sm{
      font-size: 9rem;
    }
  }

  input[type="radio"]{
    display: none;

    &:checked+label{
      color: var(--c-dark);
      cursor: default;
    }
  }

  &__text{
    width: 100%;

    &::placeholder{
      color: #BEBCBB;
      text-transform: uppercase;
    }
  }

  &__placeholder{
    min-width: max-content;
    color: #BEBCBB;
    text-transform: uppercase;
  }

  &__error{
    min-width: max-content;
    text-transform: uppercase;

    .input:has(&){
      border-block: var(--c-red) solid max(1px, 1rem);

      &+.input{
        border-top: 0;
      }
    }
  }

  &__radios{
    text-transform: uppercase;
    display: flex;
    gap: 15rem;

    *{
      color: #BEBCBB;
    }
  }

  &__dropdown{
    position: relative;
    top: -4rem;
    width: 100%;
  }

  .dropdown{
    &__title{
      padding: 4rem 13rem;
      *{
        font-weight: 500;
        color: var(--c-dark);
      }

      &:hover{
        border-bottom: none !important;
        background: #F8F8F8;
      }
    }

    &__content{
      background: #F8F8F8;
    }
  }
}