@import "../../app/styles/mixins-and-extends";
.calendar-events{
  margin-bottom: 44rem;
  position: relative;
  z-index: 2;
  padding-top: 28rem;

  @include sm{
    padding-top: 38rem;
  }


  &__bg{
    position: absolute;
    top: -145rem;
    left: 0;
    right: 0;
    z-index: -1;

    @include sm{
      top: auto;
      bottom: -80rem;
      right: auto;
      left: -250rem;
      width: 900rem;
    }

    svg{
      width: 100%;
      height: auto;
    }
  }

  &__calendar {
    padding-left: 29rem;
    margin-top: 44rem;

    &-wrapp {
      display: flex;
      gap: 17rem;
      align-items: baseline;
    }

    &-slider{
      padding-bottom: 48rem;
    }
  }

  &__day {
    cursor:  e-resize;
    position: relative;
    overflow: visible;
    user-select: none;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: -0.5px;
    transition: 0.5s;

    @include standard-font;

    span {
      width: 100%;
      text-align: center;
    }

    &--last-week:not(&--active-day, &--active-passed-day) {
      margin-right: 2.5em;
      &:after{
        content: '';
        position: absolute;
        right: calc(-1.25em +  var(--w-line)/2);
        height: 1.57em;
        border-left: var(--w-line-main-screen) solid var(--c-grey);
      }
    }

    &--active-day {
      background: var(--c-main);
      color: #fff;

      svg * {
        stroke: var(--c-main);
      }
    }

    &--event-day {
      background: #75816C;
      color: #fff;
      cursor: pointer;

      &.red *{
        color: #A11E0E !important;
      }
    }

    &--active-passed-day {
      background: var(--c-grey);
      color: #fff;

      svg * {
        stroke: var(--c-grey);
      }
    }

    &--event-passed-day {
      background: var(--c-grey-bg);
      color: #fff;
      cursor: pointer;
    }
  }
  
  &__active-arrow{
    position: absolute;
    bottom: -65%;
    height: 37.14%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
      transform: rotate(90deg);
      width: 0.857em;
    }
  }

  &__progres{
    margin-bottom: 13rem
  }
  
  &__month{
    .dropdown__title-text:first-letter, .dropdown__item label:first-letter{
      text-transform: uppercase;
      user-select: none;
    }
  }

  &__year{
    .dropdown__title{
      color: var(--c-grey);
    }
  }

  &__main-title{
    padding-left: var(--p-x);
    width: 340rem;
    align-self: start;

    @include xxl{
      width: vu(579, xxl);
    }

    @include sm{
      padding-left: 0;
    }
  }

  &__event{

    >a {
      background: #fff;
      display: flex;

      &:hover{
        box-shadow: -3px 11px 66.6px 0px #0000000D, 0px 8px 8.6px -6px #00000012, 0px 0.5px 05.3px 0px #0000000D;
      }
    }

    &-wrapp{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 17rem;

      @include adaptive((
              width: (default: 969rem, xxl: 2066, xl: 1743, sm: 100%)
      ));

      @include sm{
        padding: 0 var(--p-x);
        flex-direction: column;
      }
    }

    &-slider{
      margin-inline:0;
      box-shadow: -3px 11px 66.6px 0px transparent, 0px 8px 8.6px -6px transparent, 0px 0.5px 95.3px 0px transparent;

      @include hover-scale(1.03);

      @include adaptive((
              width: (default: 600rem, xl: 1056, sm: 100%)
      ));
    }

    img{
      height: 177rem;
      width: 153rem;
      object-fit: cover;
      object-position: center;

      @include sm{
        width: 170rem;
        height: 235rem;
      }
    }
  }

  &__date{
    font-weight: 300;
  }

  &__block-text{
    display: flex;
    padding: 18rem 18rem var(--p-x) var(--p-x);
    justify-content: space-between;
    width: 447rem;
    row-gap: 15rem;
    flex-direction: column;

    @include sm{
      width: 180rem;
      padding: 15rem;
    }
  }

  &__titles{
    width: 100%;
    min-height: 93rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25rem;
    align-self: start;

    *{
      @include standard-font-big

    }
  }

  &__plase{
    color: #B1C634;
    margin-top: 10rem;

    @include standard-font
  }

  &__description{
    align-self: flex-end;
    color: var(--c-grey-dark);
    font-weight: 300;

    @include adaptive((
            width: (default: 193rem, xxl: 420, xl: 316, sm: 100%),
    ));

    @include standard-font-small
  }

  &__btn{
    width: 12rem;
    position: relative;

    @include hover-scale;
    @include sm{

      display: none;
    }

    svg{
      width: 100%;
      height: auto;
    }
    &--next svg{
      transform: rotate(180deg);
    }
  }
}