@import "../../app/styles/mixins-and-extends";
.calendar-events{
  margin-bottom: 44rem;
  position: relative;
  z-index: 2;
  padding-top: 28rem;

  @include sm{
    padding-top: 38rem;
  }


  &__bg{
    position: absolute;
    top: -145rem;
    left: 0;
    right: 0;
    z-index: -1;

    @include sm{
      top: auto;
      bottom: -80rem;
      right: auto;
      left: -250rem;
      width: 900rem;
    }

    svg{
      width: 100%;
      height: auto;
    }
  }

  &__calendar {
    padding-left: 29rem;
    margin-top: 44rem;

    &-wrapp {
      display: flex;
      gap: 17rem;
      align-items: baseline;
    }

    &-slider{
      padding-bottom: 48rem;
    }
  }

  &__day {
    cursor:  e-resize;
    position: relative;
    overflow: visible;
    user-select: none;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: -0.5px;
    transition: 0.5s;

    @include standard-font;

    span {
      width: 100%;
      text-align: center;
    }

    &--last-week:not(&--active-day, &--active-passed-day) {
      margin-right: 2.5em;
      &:after{
        content: '';
        position: absolute;
        right: calc(-1.25em +  var(--w-line)/2);
        height: 1.57em;
        border-left: var(--w-line) solid var(--c-grey-bg);
      }
    }

    &--active-day {
      background: var(--c-main);
      color: #fff;

      svg * {
        stroke: var(--c-main);
      }
    }

    &--event-day {
      background: #75816C;
      color: #fff;
      cursor: pointer;

      &.red *{
        color: #A11E0E !important;
      }
    }

    &--active-passed-day {
      background: var(--c-grey);
      color: #fff;

      svg * {
        stroke: var(--c-grey);
      }
    }

    &--event-passed-day {
      background: var(--c-grey-bg);
      color: #fff;
      cursor: pointer;
    }
  }
  
  &__active-arrow{
    position: absolute;
    bottom: -65%;
    height: 37.14%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
      transform: rotate(90deg);
      width: 0.857em;
    }
  }

  &__progres{
    margin-bottom: 13rem
  }
  
  &__month{
    .dropdown__title-text:first-letter, .dropdown__item label:first-letter{
      text-transform: uppercase;
      user-select: none;
    }
  }

  &__year{
    .dropdown__title{
      color: var(--c-grey);
    }
  }

  &__main-title{
    padding-left: var(--p-x);
    width: 340rem;
    align-self: start;

    @include xxl{
      width: vu(579, xxl);
    }

    @include sm{
      width: 100%;
      flex-shrink: 0;
      padding-left: calc(var(--p-x) - 4rem);
    }
  }

  &__event{
    a{
      display: block;
      width: 100%;
      height: 100%;
    }

    &-content {
      background: #fff;
      display: flex;
      width: 100%;
      height: 100%;
    }

    &-wrapp{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 17rem;

      @include adaptive((
              width: (default: 965rem, xxl: 2030, xl: 1743, sm: 100%)
      ));

      @include xxl{
        gap: vu(22, xxl);
      }

      @include sm{
        padding: 0 4rem;
        gap: 24rem 6rem;
        flex-wrap: wrap;
      }
    }

    &-slider{
      margin-inline:0;
      box-shadow: -3px 11px 66.6px 0px transparent, 0px 8px 8.6px -6px transparent, 0px 0.5px 95.3px 0px transparent;

      @include hover-scale(1.03);

      @include adaptive((
              width: (default: 600rem, xl: 1056, sm: 350),
              height: (default: 195rem, xxl: 450, xl: 324, md: 148, sm: 235)
      ));

      &:hover{
        box-shadow: -3px 11px 66.6px 0px #0000000D, 0px 8px 8.6px -6px #00000012, 0px 0.5px 05.3px 0px #0000000D;
      }
    }

    img{
      height: 100%;
      width: 153rem;
      object-fit: cover;
      object-position: center;

      @include md{
        width: vu(122, md);
      }

      @include sm{
        width: 170rem;
      }
    }
  }

  &__date {
    font-weight: 300;
    height: 1.2em;

    &-end{
      @include sm{
        display: none;
      }
    }
  }

  &__block-text{
    display: flex;
    padding-inline: 18rem  22rem;
    padding-block: var(--p-t) var(--p-b);
    justify-content: space-between;
    width: calc(100% - 153rem);
    flex-direction: column;
    line-height: 1.2;

    @include adaptive((
            --f-content: (
                    default: 9rem,
                    xxl: 22,
                    xl: 16,
                    md: 9,
                    sm: 10
            ),
            --p-t: (default: 16rem, xxl: 42, xl: 28, sm: 15),
            --p-b: (default: 18rem, xxl: 46, xl: 33, sm: 15)
    ));

    @include xxl{
      padding-inline: 18rem 22rem;
    }

    @include lg{
      width: 447rem;
    }

    @include sm{
      width: 180rem;
      padding: 15rem;
      row-gap: 15rem;
    }
  }

  &__titles{
    width: 100%;
    min-height: calc(50% + var(--p-t) + var(--p-b));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25rem;
    align-self: start;
    font-size: var(--f-content);

    @include xxl{
      min-height: calc(50% + var(--p-t) / 1.44 + var(--p-b));
    }

    @include sm{
      min-height: 93rem;
    }

    >*{
      @include standard-font-big;

      @include xl{
        font-size: vu(30, xl);
      }

      @include xxl{
        font-size: vu(35, xxl);
     }
    }
  }

  &__name {
    &-and-plase{
      --gap: calc(var(--f-content)*0.7);
      --lines: 2;

      width: 75%;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--gap);
      min-height: calc(var(--lines) * 1.2em + var(--gap) + var(--f-content) * 1.2);

      @include md{
        font-size: vu(13, md);
        width: 100%;
      }

      @include sm{
        font-size: 15rem;
        --lines: 4;
      }
    }
  }

  &__plase{
    color: #B1C634;
    font-size: var(--f-content);
  }

  &__description{
    align-self: flex-end;
    font-weight: 300;
    margin-top: -1.25em;
    max-height: 4.8em;
    overflow: hidden;
    position: relative;
    padding-right: 0.9em;
    margin-left: -0.8em;
    font-size: var(--f-content);

    @include adaptive((
            width: (default: 193rem, xxl: 420, xl: 316, sm: 100%),
    ));

    *{
      color: var(--c-grey-dark);
    }

    /* Многоточие */
    &.truncated::after {
      content: '...';
      position: absolute;
      bottom: 0;
      left: min(calc(var(--last-line-width, 100%) + 0.1em), calc(100% - 0.8em));
      background: var(--bg-color, #fff);
      z-index: 2;
    }
  }

  &__btn{
    width: 10rem;
    position: relative;
    top: 1rem;

    @include hover-scale;


    svg{
      width: 100%;
      height: auto;
    }
    &--next svg{
      transform: rotate(180deg);
    }
  }
}