@import "../../app/styles/mixins-and-extends";
.calendar-events{
  margin-bottom: 44rem;
  position: relative;
  z-index: 2;
  padding-top: 28rem;

  @include sm{
    padding-top: 38rem;
  }

  .swiper{
    padding-bottom: 24rem;
  }

  &__calendar {
    padding-left: 29rem;
    margin-top: 24rem;

    &-wrapp {
      display: flex;
      gap: 17rem;
      align-items: baseline;
    }
  }

  &__day {
    cursor:  e-resize;
    position: relative;
    overflow: visible;
    user-select: none;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: -0.5px;
    transition: 0.5s;

    @include standard-font;

    span {
      width: 100%;
      text-align: center;
    }

    &--last-week:not(&--active-day, &--active-passed-day) {
      margin-right: 2.5em;
      &:after{
        content: '';
        position: absolute;
        right: calc(-1.25em +  var(--w-line)/2);
        height: 1.57em;
        border-left: var(--w-line) solid var(--c-grey);
      }
    }

    &--active-day {
      background: var(--c-main);
      color: #fff;

      svg * {
        stroke: var(--c-main);
      }
    }

    &--event-day {
      background: #75816C;
      color: #fff;
      cursor: pointer;
    }

    &--active-passed-day {
      background: var(--c-grey);
      color: #fff;

      svg * {
        stroke: var(--c-grey);
      }
    }

    &--event-passed-day {
      background: var(--c-grey-bg);
      color: #fff;
      cursor: pointer;
    }
  }
  
  &__active-arrow{
    position: absolute;
    bottom: -65%;
    height: 37.14%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
      transform: rotate(90deg);
      width: 0.857em;
    }
  }

  &__progres{
    margin-bottom: 13rem
  }
  
  &__month{
    .dropdown__title-text:first-letter, .dropdown__item label:first-letter{
      text-transform: uppercase;
      user-select: none;
    }
  }

  &__year{
    .dropdown__title{
      color: var(--c-grey);
    }
  }

  &__main-title{
    padding-left: var(--p-y);
    width: 340rem;
    align-self: start;

    @include xxl{
      width: vu(579, xxl);
    }

    @include sm{
      padding-left: 0;
    }
  }

  &__event{
    background: #fff;
    display: flex;

    &-wrapp{
      width: 951rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 17rem;

      @include xxl{
        width: vu(2108, xxl);
      }

      @include sm{
        width: 100%;
        padding: 0 var(--p-y);
        flex-direction: column;
      }
    }

    &-slider{
      width: 582rem;
      margin-inline:0;

      @include sm{
        width: 100%;
      }
    }

    img{
      height: 191rem;
      width: 161rem;
      object-fit: cover;
      object-position: center;

      @include sm{
        width: 170rem;
        height: 235rem;
      }
    }
  }

  &__date{
    font-weight: 300;
  }

  &__block-text{
    display: flex;
    padding: 18rem 18rem var(--p-y) var(--p-y);
    flex-direction: column;
    width: 420rem;

    @include lg{
      flex-direction: row;
    }

    @include sm{
      flex-direction: column;
      width: 180rem;
      padding: 15rem;
      justify-content: space-between;
    }
  }

  &__titles{
    min-height: 93rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25rem;
    align-self: start;

    @include adaptive((
            width: (default: 165rem, xl: 100%, sm: 100%)
    ));

    *{
      @include adaptive((
              font-size: (default: 20rem, xxl: 35, sm: 15)
      ))
    }
  }

  &__link{
    font-weight: 500;
  }

  &__plase{
    color: #B1C634;
    margin-top: 10rem;

    @include standard-font
  }

  &__description{
    align-self: flex-end;
    width: 193rem;
    font-size: 11rem;

    @include adaptive((
            font-size: (default: 11rem, xxl: 23)
    ));

    @include sm{
      width: 100%;
    }
  }

  &__btn{
    width: 12rem;
    position: relative;
    top: -12rem;
    transition: 0.5s;

    @include sm{
      display: none;
    }

    svg{
      width: 100%;
      height: auto;
    }
    &--next{
      transform: rotate(180deg);
    }
  }
}