@import "@/app/styles/mixins-and-extends";

.partners-slider{
  background: var(--c-grey-bg-light);
  padding: 38rem 15rem 31rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26rem;

  @include xxl{
    padding: 32rem 15.6rem 27rem;
  }

  &-title{
    margin-block: 33rem 31rem;
  }

  &__swiper {
    width: 884rem;

    @include xxl{
      width: vu(2256, xxl);
    }

    @include sm{
      width: 297rem;
    }
  }

  &__slide{
    width: auto;
    display: flex;
    justify-content: center;
    height: var(--h);

    @include adaptive((
            --h: (default: 71rem, xxl: 155, sm: 86)
    ));

    a{
      width: 100%;
      display: flex;
      justify-content: center;
    }

    img{
      height: 100%;
      width: auto;
      max-width: 100%;
    }
  }

  &__btn{
    width: 10rem;
    flex-shrink: 0;

    &--next{
      transform: rotate(180deg);
    }

    img{
      width: 100%;
    }
  }
}