@import "@/app/styles/mixins-and-extends";

.partners-slider{
  background: var(--c-grey-bg-light);
  padding: 38rem 15rem 31rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26rem;

  @include xxl{
    padding: 32rem 15.6rem 27rem;
  }

  &-title{
    margin-block: 33rem 31rem;
  }

  &__swiper {
    width: 781rem;

    @include sm{
      width: 265rem;
    }
  }

  &__slide{
    width: auto;
    display: flex;
    justify-content: center;

    @include adaptive((
            height: (default: 40rem, xxl: 77, sm: 40)
    ));

    img{
      height: 100%;
      width: auto;
      max-width: 100%;
    }
  }

  &__btn{
    width: 10rem;
    flex-shrink: 0;

    &--next{
      transform: rotate(180deg);
    }

    img{
      width: 100%;
    }
  }
}