@import "@/app/styles/mixins-and-extends";

.festival-templates{
  background: var(--c-red);

  *{
    color: #ffffff;
    font-weight: 300;

    @include standard-font-big;
  }

  u{
    text-underline-offset: 0.14em;

    &:hover{
      text-decoration: none;
    }
  }

  .detalis{
    background: var(--c-red);
  }

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15rem;

    @include sm{
      flex-direction: column-reverse;
      align-items: center;
      gap: 40rem;
    }
  }

  .dropdown{
    width: 824rem;

    @include xxl{
      width: 777rem;
    }

    @include sm{
      width: 100%;
    }

    *{
      @include standard-font;

      @include sm{
        font-size: 9rem;
      }
    }

    &__title {

      &:hover{
        border-bottom: none;
      }
    }

    input:checked+label .dropdown__nomination-item span, label:hover .dropdown__nomination-item span{
      color: var(--c-red);
    }

    label .dropdown__nomination-item span{
      color: var(--c-grey);
      transition: 0.3s;

      &:active{
        color: #fff;
      }
    }

    &__line{
      border-color: #fff;
    }

    &__arrow svg *{
      stroke: #fff;
    }
  }

  &__subtitle{
    display: none;

    @include sm{
      display: block;
      margin-bottom: 25rem;
      padding-left: 15rem;
      opacity: 0.5;
      font-size: 15rem;

      *{
        text-decoration: none;
      }
    }
  }

  &__link-disabled{
    opacity: 0.5;
    pointer-events: none;
  }
}