@import "@/app/styles/mixins-and-extends";

.project-modal{
  overflow: hidden;
  position: fixed !important;
  width: 100vw;
  inset: 0;
  z-index: 999;
  background: linear-gradient(180deg, rgba(102, 102, 102, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%);
  backdrop-filter: blur(7.400000095367432px);
  
  *{
    color: #fff;
    font-size: 13rem;
  }

  &__container{
    overflow-y: auto;
    height: 100%;
  }

  &__content{
    display: none;
    margin-bottom: 15rem;

    @include md{
      display: block;
    }
  }

}