@import "@/app/styles/mixins";

.project-modal{
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  width: 100vw;
  inset: 0;
  z-index: 999;
  background: linear-gradient(180deg, rgba(102, 102, 102, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%);
  backdrop-filter: blur(7.400000095367432px);
  
  *{
    color: #fff;
    font-size: 13rem;
  }

  &__content{
    width: 692rem;
    margin: 27rem auto;

    @include sm{
      width: 306rem;
      margin: 23rem 60rem 30rem 20rem;
    }

    *{
      font-weight: 500;
    }
  }

  &__title{
    font-size: 20rem;
    font-weight: 400;
    max-width: 444rem;
  }

  &__subtitle{
    display: flex;
    gap: 28rem;
    margin-block: 10rem 20rem;
  }

  &__year{
    color: #B1C634
  }

  &__row{
    display: flex;
    justify-content: space-between;

    @include sm{
      flex-direction: column;
      gap: 40rem;
    }
  }

  &__nomination{
    width: 218rem;
    color: #B3B3B3;
  }
}