@import "@/app/styles/mixins-and-extends";
.form{
  &__row{
    display: flex;
    justify-content: space-between;
    gap: 6rem;

    @include sm{
      flex-direction: column;
    }
  }

  .form &__btn{

    &--error{
      color: var(--c-grey);
      background: var(--c-grey-bg-light);
    }

    &--submitting{
      pointer-events: none;
      cursor: no-drop;
      color: var(--c-grey-bg-light);
      background: var(--c-grey);
    }

    &--sent{
      pointer-events: none;
      background: var(--c-red);
      color: #fff;
    }
  }

  .note{
    width: fit-content;
  }
}