@import "@/app/styles/mixins-and-extends";
.form{
  &__row{
    display: flex;
    justify-content: space-between;
    gap: 6rem;

    @include sm{
      flex-direction: column;
    }
  }

  .form &__btn{

    &--error{
      color: var(--c-grey);
      background: #EFEFEF;
    }

    &--sent{
      pointer-events: none;
      background: var(--c-red);
      color: #fff;
    }
  }

  .note{
    width: 260rem;
  }
}