@import "../../../app/styles/mixins-and-extends";

.festival-forum{
  background: #fff;
  padding-top: 15rem;

  &__descriptions{
    display: flex;
    margin-top: 70rem;

    @include adaptive((
            gap: (default: 62rem, xl: 179, sm: 34)
    ));

    @include lg{
      justify-content: space-between;
    }

    @include sm{
      flex-direction: column;
    }
  }

  &__block-text{
    display: flex;
    flex-direction: column;

    @include adaptive((
            max-width: (default: 320rem, xl: 519, md: 280, sm: 302),
            gap: (default: 20rem, xl: 30)
    ));

    &:first-child{
      @include adaptive((
              max-width: (default: 274rem, xl: 443, md: 237, sm: 302)
      ));
    }

    *{
      letter-spacing: 0.01em;

      @include adaptive((
              font-size: (
                      default: 11rem,
                      xxl: 22,
                      xl: 16,
                      md: 10,
                      sm: 10
              )
      ))
    }

    a{
      @extend %link-hover-underline
    }
  }

  h3{
    font-weight: 500;
    color: var(--c-red);

    @include standard-font-big
  }

  ul li{
    list-style: none;
    display: flex;
    align-items: start;
    position: relative;
    left: -0.3em;

    &:before{
      content: '';
      width: 0.3em;
      aspect-ratio: 1/1;
      flex-shrink: 0;
      position: relative;
      top: 0.5em;
      left: -0.9em;
      background: var(--c-red);
    }
  }

  strong{
    font-weight: 600;
  }

  &__slider{
    @include adaptive((
            margin-block: (default: 44rem, xxl: 70, sm: 33)
    ))

  }

  &__slide{
    aspect-ratio: 398/191;
    background: var(--c-grey-bg-light);

    @include adaptive((
            width: (default: 398rem, xl: 665, sm: 340)
    ));

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__registraion{
    padding-top: 40rem;

    @include adaptive((
            width: (default: 197rem, xl: 247,)
    ));

    @include sm{
      padding-top: 0;
    }

    &-and-program{
      display: flex;
      margin-bottom: 62rem;

      @include adaptive((
              gap: (default: 82rem, xl: 379, md: 38, sm: 34)
      ));

      @include sm{
        flex-direction: column-reverse;
      }

      *{
        line-height: 1.3em;

      }
    }

    p:first-child a{
      @extend %btn-grey;

      &:hover{
        text-decoration: none;
      }
    }
  }

  &__program{
    display: flex;
    margin-top: 22rem;
    align-items: start;

    @include adaptive((
            gap: (default: 38rem, xxl: 105, xl: 79, sm: 42)
    ));

    @include sm{
      flex-direction: column;
    }
  }

  &__contacts{

    &-and-socials {
      display: flex;
      margin-top: 60rem;

      @include adaptive((
              gap: (default: 90rem, xxl: 252, sm: 30)
      ));

      @include sm {
        flex-direction: column;
      }

      &-wrap {
        background: var(--c-grey-bg-light-2);
        padding-block: 26rem 70rem;
      }

      * {
        @include standard-font-small;
        font-size: 10rem;
      }
    }
  }

  &__socials{
    display: flex;

    @include adaptive((
            gap: (default: 85rem, xxl:252, xl: 179, sm: 20)
    ));

    @include sm{
      justify-content: space-between;
    }

    a, a *{
      @include standard-font-big
    }

    .festival-forum__block-text {
      gap: 15rem;
      justify-content: space-between;
      height: 70rem;
      line-height: 1.1em;

      p {
        color: var(--c-grey-dark);
        font-weight: 300;

        &:first-child {
          padding-bottom: 9rem;

          @include md {
            padding-bottom: 5rem;
          }

          @include sm {
            padding-bottom: 9rem;
          }
        }
      }
      @include adaptive((
              width: (default: 165rem, xxl: 300, xl: 247,)
      ))
    }
  }
}