@import "../../../app/styles/mixins-and-extends";

.competition-results-main-screen{
  $bh: calc(1vh - 0.6rem);
  display: flex;
  color: #fff;

  *{
    color: inherit;
  }

  &__block-text{
    width: 682rem;
    position: relative;
    display: flex;
    align-items: center;
    background: var(--c-main);
    padding-inline: 20rem 46rem;

    @include xxl{
      padding-inline: 20rem 116rem;
    }

    @include md-book{
      width: 576rem;
    }

    @include sm{
      height: 57.5%;
    }

    *{
      position: relative;
      z-index: 2;
    }

    >*:last-child{
      position: absolute;
      left: var(--p-x);
      bottom: 30rem;
      color: #C3C3C3;

      @include sm{
        bottom: 20rem;
      }
    }
  }

  h1{
    text-transform: uppercase;
    top: -8rem;
    @include main-title-font
  }
  
  &__img-wrapp {
    width: 342rem;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    @include md-book{
      width: 448rem;
    }

    @include sm{
      height: 42.5%;
    }
  }

  p{
    line-height: 1.87em;

    @include standard-font
  }

  a{
    font-weight: 500;
  }
}