@import "@/app/styles/mixins-and-extends";

.projects-filter{
  display: flex;
  align-items: start;
  gap: 6rem;
  position: relative;
  z-index: 3;
  margin-block: 52rem 35rem;

  @include sm{
    flex-wrap: wrap;
  }

  *{
    font-size: 13rem;

    @include sm{
      font-size: 18rem;
    }
  }

  &__year{
    width: 114rem;

    @include sm{
      width: 125rem;
    }
  }

  &__nomination{
    width: 725rem;
    position: relative;
    z-index: 3;

    @include sm{
      width: 100%;
      order: -1;
    }

    *{
      text-transform: uppercase;

      @include sm{
        font-size: 13rem;
      }
    }

    .dropdown__line{
      @include sm{
        height: auto;
        align-self: stretch;
      }
    }
  }

  &__btn{
    width: 219rem;
    padding: 14rem;
    background: var(--c-green-text);
    color: #fff;

    @include sm{
      width: 219rem;
      text-align: center;
    }
  }

  .dropdown{
    &__title{
      background: var(--c-grey-bg);
      padding: 14rem;

      &:hover{
        border-bottom: none;
      }
    }

    &.open .dropdown__title{
      background: var(--c-grey);

      *{
        color: var(--c-main);
      }

      svg *{
        stroke: var(--c-main);
      }
    }

    &__line{
      background: #AAAAAA;
    }

    &__content{
      background: var(--c-grey-bg);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    &__item{
      border-color: var(--c-grey);
    }

    label{
      color: var(--c-grey-dark);
    }
  }
}