@import "@/app/styles/mixins-and-extends";

.projects-filter{
  display: flex;
  gap: 3rem;
  position: relative;
  z-index: 3;
  margin-block: 52rem 35rem;

  @include xxl{
    gap: vu(5, xxl);
  }

  @include sm{
    flex-wrap: wrap;
    gap: 6rem;
  }

  *{
    @include adaptive((
            font-size: (
                    default: 12rem,
                    xxl: 27,
                    xl: 20,
                    sm: 13
            ),
    ));
  }

  &__year{
    @include adaptive((
            width: (default: 122rem, xxl: 210 , sm: 155)
    ));

    *{
      font-variant-numeric: tabular-nums;
    }
  }

  &__nomination{
    position: relative;
    z-index: 3;

    @include adaptive((
            width: (default: 690rem, xxl: 1927, xl: 1311, sm: 100%)
    ));

    @include sm{
      order: -1;
    }

    *{
      text-transform: uppercase;

      @include sm{
        font-size: 13rem;
      }
    }

    .dropdown{
      &__title-text{
        @extend %text-overflow-ellipsis
      }
      &__line{
        @include sm{
          height: auto;
          align-self: stretch;
        }
      }
    }
  }

  &__btn{
    padding: 1.154em 1.079em 1.079em;
    background: var(--c-green-text);
    color: #fff;
    text-align: center;

    @include xxl{
      padding-block: 0;
    }

    @include adaptive((
            width: (default: 145rem, xxl: 285, sm: 185)
    ));

    &:hover{
      background: var(--c-main);
    }

    &:active{
      background: #fff;
    }

  }

  .dropdown{
    *{
      text-transform: none;
    }

    &__title{
      background: var(--c-grey-bg);
      padding: 1.079em;

      &:hover{
        border-bottom: none;
      }

      &-text{
        position: relative;
        top: 2rem;
      }
    }

    &__arrow svg{
      @include xxl{
        top: vu(5, xxl);
      }
    }

    &.open .dropdown__title{
      background: var(--c-grey);

      *{
        color: var(--c-main);
      }

      svg *{
        stroke: var(--c-main);
      }
    }

    &__line{
      border-color:  var(--c-grey);
    }

    &__content{
      background: var(--c-grey-bg);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    &__item{
      border-color: rgba(188,188,188,0.53);
    }

    label{
      color: var(--c-grey-dark);
    }
  }
}