@import "@/app/styles/mixins-and-extends";

.projects-filter{
  display: flex;
  gap: 3rem;
  position: relative;
  z-index: 3;
  margin-block: 52rem 35rem;

  @include xxl{
    gap: vu(5, xxl);
  }

  @include sm{
    flex-wrap: wrap;
    gap: 6rem;
  }

  *{
    font-size: 13rem;

    @include xxl{
      font-size: vu(22, xxl);
    }

    @include sm{
      font-size: 18rem;
    }
  }

  &__year{
    @include adaptive((
            width: (default: 102rem, xxl: 185 , sm: 125)
    ));

    *{
      font-variant-numeric: tabular-nums;
    }
  }

  &__nomination{
    position: relative;
    z-index: 3;

    @include adaptive((
            width: (default: 710rem, xxl: 1952, sm: 100%)
    ));

    @include sm{
      order: -1;
    }

    *{
      text-transform: uppercase;

      @include sm{
        font-size: 13rem;
      }
    }

    .dropdown{
      &__title-text{
        @extend %text-overflow-ellipsis
      }
      &__line{
        @include sm{
          height: auto;
          align-self: stretch;
        }
      }
    }
  }

  &__btn{
    padding: 1.154em 1.079em 1.079em;
    background: var(--c-green-text);
    color: #fff;
    text-align: center;

    @include xxl{
      font-size: vu(25, xxl);
      padding-block: 0;
    }

    @include adaptive((
            width: (default: 145rem, xxl: 285, sm: 219)
    ));
  }

  .dropdown{
    &__title{
      background: var(--c-grey-bg);
      padding: 1.079em;

      &:hover{
        border-bottom: none;
      }

      &-text{
        position: relative;
        top: 2rem;
      }
    }

    &__arrow svg{
      @include xxl{
        top: vu(5, xxl);
      }
    }

    &.open .dropdown__title{
      background: var(--c-grey);

      *{
        color: var(--c-main);
      }

      svg *{
        stroke: var(--c-main);
      }
    }

    &__line{
      background: #AAAAAA;
    }

    &__content{
      background: var(--c-grey-bg);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    &__item{
      border-color: var(--c-grey);
    }

    label{
      color: var(--c-grey-dark);
    }
  }
}