@import "@/app/styles/mixins-and-extends";
.main-screen-project{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;

  &:hover &__img{
    transform: scale(1.02);
  }

  &__img{
    position: absolute;
    z-index: 1;
    object-fit: cover;
    width: 101%;
    height: 101%;
    left: -0.5%;
    top: -0.5%;
    transition: 0.8s;
  }

  &__signature{
    color: #fff;
    font-size: 8.5rem;
    font-weight: 300;
    max-width: 242rem;
    position: relative;
    z-index: 2;

    @include lg{
      font-size: 10rem;

    }

    &-wrapp{
      position: relative;
      z-index: 2;
      height: 19.46%;
      width: 100%;
      padding: 21rem var(--p-x);
      display: flex;
      align-items: flex-end;
      background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.5) 70%);

      //&::before{
      //  content: '';
      //  width: var(--main-screen-line);
      //  height: 256.94%;
      //  background: #E5E5E5;
      //  position: absolute;
      //  bottom: 0;
      //  left: calc(340rem + $height/2 * cos(45deg));
      //  transform: rotate(-45deg);
      //}
    }
  }
}