@import "../../../app/styles/mixins-and-extends";
.festival-premiya{
  background: #fff;
  padding-block: 48rem 85rem;

  @include xxl{
    padding-block: vu(56, xxl) vu(140, xxl);
  }

  &__list{
    display: flex;
    gap: 64rem;
    margin-top: 44rem;
    padding-inline: 80rem 20rem;
    font-weight: 300;

    @include standard-font;

    @include xxl{
      padding-inline: 80rem vu(275, xxl);
    }

    @include sm{
      flex-direction: column;
      padding-inline: 0;
      gap: 23rem;
    }

    *{
      letter-spacing: 0.01em;
    }

    a{
      font-weight: 500;
    }
  }

  &__step{
    display: flex;
    gap: 45rem;

    @include xxl{
      gap: vu(147, xxl);
    }
  }

  &__text{
    >*:not(.note){
      line-height: 1.3em;
      @include xxl{
        width: vu(587, xxl);
      }
    }
  }

  &__col{
    display: flex;
    gap: 23rem;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 32rem);

    @include sm{
      width: 100%;
    }
  }

  &__num{
    font-size: 21rem;
    font-weight: 200;
    font-variant-numeric: tabular-nums;

    @include xxl{
      font-size: vu(50, xxl);
    }
  }

  .note{
    margin-top: 14rem;
    position: relative;
    top: -1rem;
  }
}