@import "../../../app/styles/mixins-and-extends";
.festival-premiya{
  padding-block: 48rem 85rem;

  &__list{
    display: flex;
    gap: 64rem;
    margin-top: 44rem;
    padding-inline: 80rem 20rem;
    font-weight: 300;

    @include standard-font;

    @include xxl{
      padding-inline: 80rem vu(275, xxl);
    }

    @include sm{
      flex-direction: column;
      padding-inline: 0;
      gap: 23rem;
    }

    *{
      letter-spacing: 0.01em;
    }

    a{
      font-weight: 500;
    }
  }

  &__step{
    display: flex;
    gap: 45rem;
  }

  &__text{
    >*:not(.note){
      @include xxl{
        width: vu(587, xxl);
      }
    }
  }

  &__col{
    display: flex;
    gap: 23rem;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 32rem);

    @include xxl{
      gap: 40rem;
    }

    @include sm{
      width: 100%;
    }
  }

  &__num{
    font-size: 21rem;
    font-weight: 200;
  }

  .note{
    margin-top: 14rem;
    position: relative;
    top: -1rem;
  }
}