@import "../../../app/styles/mixins";
.festival-premiya{
  padding-block: 32rem;

  &__list{
    font-size: 13rem;
    display: flex;
    gap: 64rem;
    margin-top: 80rem;
    padding-inline: 80rem 20rem;

    @include sm{
      flex-direction: column;
      padding-inline: 0;
    }

    a{
      font-weight: 600;
    }
  }

  &__step{
    display: flex;
    gap: 57rem;
  }

  &__col{
    display: flex;
    gap: 64rem;
    flex-direction: column;
    width: calc(50% - 32rem);

    @include sm{
      width: 100%;
    }
  }

  &__num{
    font-size: 21rem;
  }

  .note{
    margin-top: 14rem;
  }
}