@import "../../../app/styles/mixins-and-extends";
.home-events{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;

  @include sm{
    flex-direction: column-reverse;
    gap: 23rem;
  }

  >*{
    position: relative;
    z-index: 2;
  }

  &__block-text{
    padding-left: var(--p-y);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15rem;
    width: 340rem;
    position: relative;

    @include xxl{
      width: vu(579, xxl);
    }

    @include sm{
      width: 100%;
      padding-right: var(--p-y);
    }
  }

  h2{
    color: var(--c-red);

    @include title-small-font
  }

  p{
    font-weight: 300;

    @include standard-font-big
  }

  p:last-child{
    font-weight: 400;

    @include standard-font;

    @include sm{
      position: absolute;
      bottom: 0;
      right: var(--p-y);
    }
  }

  &__slider{
    width: calc(100% - 340rem);
    border-top: max(3px, 3rem) solid #E5E5E5;

    @include xxl{
      width: calc(100% - vu(579, xxl));
    }

    @include sm{
      width: 100%;
    }

    &-pagination{
      display: flex;
      justify-content: center;
      gap: 1rem;
      position: static;
      margin-top: 5rem;

      &-item{
        background: #D9D9D9;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;

        @include sm{
          width: 7rem;
          height: 7rem;
        }

        &--active{
          background: #6E7A64;
        }
      }
    }
  }

  img{
    width: 100%;
  }
}