@import "@/app/styles/mixins-and-extends";

.images-slider{
  position: relative;

  img{
    background: var(--c-grey-bg-light);
    width: 100%;
  }

  p{
    margin-top: 0.9em;
    line-height: normal;
    color: var(--c-grey);

    @include standard-font-small
  }
}