@import "@/app/styles/mixins-and-extends";
.festival-program{
  background: #fff;
  padding-block: 25rem 50rem;

  @mixin table-font{
    @include adaptive((
            font-size: (
                    default: 12rem,
                    xxl: 27,
                    xl: 22,
                    md: 10,
                    sm: 13
            )
    ));
  }

  *{
    @include table-font
  }

  &__title{
    color: var(--c-red);
    margin-bottom: 62rem;

    @include title-small-font
  }

  &__row{
    display: grid;
    grid-template-columns: repeat(2, 2fr) 6fr 2fr;
    align-items: baseline;
    gap: 17rem;
  }

  &__content{
    width: 100%;
    overflow-x: auto;
  }

  &__header{
    min-width: 717rem;
    margin-bottom: 42rem;

    *{
      color: var(--c-grey);

      @include standard-font-small;
    }
  }

  &__body{
    min-width: 717rem;
    font-variant-numeric: tabular-nums;
    display: flex;
    flex-direction: column;
    gap: 13rem;
  }

  &__day{
    color: var(--c-red);
    font-weight: 500;
  }

  &__time{
    font-weight: 500;
    color: #0B2719;
  }

  &__text{
    max-width: 374rem;
    font-weight: 300;

    @include sm{
      width: 293rem;
    }
  }

  .detalis {
    width: 438rem;
    border-top: var(--w-line) solid var(--c-line);

    @include sm{
      width: 323rem;
    }

    &:last-child {
      border-bottom: var(--w-line) solid var(--c-line);
    }

    *{
      @include standard-font-small
    }

    b, strong{
      font-weight: 500;
    }

    &__btn {
      padding: 13rem 0 14rem;
      text-align: left;
      background: #fff;

      *{
        font-weight: 500;
      }
    }

    &__icon{
      font-size: 23rem;
      font-weight: 400;
      color: var(--c-red);
    }

    &__content{
      padding-bottom: 23rem;
    }
  }

  &__business-program{
    display: flex;
    flex-direction: column;
    gap: 12.48rem;
  }

  .detalis &__full-version-business-program{
    margin-top: 31rem;

    *{
      @include table-font
    }
  }

  &__place{
    color: var(--c-red);
    font-weight: 500;
    text-transform: uppercase;

    @include sm{
      font-size: 10rem;
    }
  }
}