@import "@/app/styles/mixins-and-extends";
.news-item{
  display: flex;
  flex-direction: column;
  gap: 15rem;

  >*{
    color: var(--c-grey);

    @include adaptive((
            font-size: (
                    default: 11rem,
                    xxl: 22,
                    xl: 16,
                    md: 10,
                    sm: 13
            )
    ));
  }

  p{
    max-width: vu(747, xl);

    @include md{
      max-width: 100%;
    }
  }

  &:hover>*{
    color: var(--c-dark);
  }

  &__title{
    color: var(--c-dark);
    //height: 44rem;
    font-weight: 300;
    //display: flex;
    //align-items: flex-end;

    @include standard-font-big
  }

  &__img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 315/188;
  }

  &__date{
    font-weight: 600;
  }

  &__description{
    margin-top: -4rem;
  }
}