.news-item{
  display: flex;
  flex-direction: column;
  gap: 15rem;

  &__title{
    font-size: 17rem;
    height: 44rem;
    font-weight: 300;
    display: flex;
    align-items: flex-end;
  }
  &__img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 315/188;
  }

  &__date{
    font-size: 10rem;
    font-weight: 600;
    color: #090909;
  }

  &__description{
    font-size: 10rem;
    margin-top: -4rem;
  }
}