@import "@/app/styles/mixins-and-extends";
.news-item{
  display: flex;
  flex-direction: column;
  gap: 15rem;

  >*{
    color: var(--c-grey);

    @include adaptive((
            font-size: (
                    default: 11rem,
                    xxl: 22,
                    xl: 16,
                    md: 10,
                    sm: 13
            )
    ));
  }

  p{
    max-width: vu(747, xl);

    @include md{
      max-width: 100%;
    }
  }

  &:hover {
    > * {
      color: var(--c-dark);
    }

    img{
      transform: scale(1.03);
    }
  }

  &__title{
    color: var(--c-dark);
    font-weight: 300;

    @include standard-font-big
  }

  &__img{
    overflow: hidden;
    width: 100%;
    aspect-ratio: 315/188;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: 0.8s;
    }
  }

  &__date{
    font-weight: 600;
  }

  &__description{
    margin-top: -4rem;
  }
}