.festival-diploma{
  background: #fff;
  padding-bottom: 8rem;
  position: relative;
  z-index: 3;

  .detalis{
    &__btn{
      padding: 17rem var(--p-y) 19rem;
      font-size: 36rem;
      font-weight: 500;
      background: var(--c-grey-bg-light);
      color: var(--c-green-text);
    }

    &__icon{
      font-weight: 300;
    }
    
    &--opened{
      .detalis__btn{
        background: #fff;
      }
    }
  }
}