.festival-diploma{
  background: #fff;
  overflow: hidden;
  padding-bottom: 8rem;

  .detalis{
    &__btn{
      padding: 17rem var(--p-y);
      font-size: 36rem;
      background: #EFEFEF;
      color: var(--c-green-text);
    }
    
    &--opened{
      .detalis__btn{
        background: #fff;
      }
    }
  }
}