@import "@/app/styles/mixins-and-extends";

.cookie{
  background: #FFF;
  box-shadow: 0 0.5px 95.3px 0 rgba(0, 0, 0, 0.05), 0 8px 8.6px -6px rgba(0, 0, 0, 0.07), -3px 11px 66.6px 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 5;
  bottom: 20rem;
  left: var(--btn-position-x);
  padding: 10rem 4rem 10rem 14rem;
  display: flex;
  align-items: flex-start;
  gap: 20rem;
  
  @include md {
    transform: scale(1.085) translateX(3.85%);
  }

  @include sm{
    bottom: 11rem;
    flex-direction: column;
    padding: 12rem 8rem 7rem;
    gap: 28rem;
    transform: scale(1);
  }

  *{
    @include standard-font-small
  }

  &__text{
    color: var(--c-grey-dark);
    line-height: 1.3em;
  }

  &__btns{
    align-self: flex-end;
    display: flex;
    gap: 4rem;
    position: relative;
    top: 6rem;

    @include sm{
      top: 0;
    }
  }

  &__btn{
    width: 10.5em;
    background: var(--c-grey-bg-light);
    padding: 0.7em;

    &:hover{
      background: var(--c-grey-bg)
    }

    @mixin standard-font-small{
      @include adaptive((
              font-size: (
                      default: 7.5rem,
                      xxl: 15,
                      xl: 13,
                      md: 9,
                      sm: 8
              )
      ));
    }
    &--dark{
      color: #fff;
      background: var(--c-main);

      &:hover{
        background: var(--c-green-text)
      }
    }
  }
}