@import "@/app/styles/mixins-and-extends";

.about-history{
  background: #fff;
  padding-top: 35rem;

  b, strong{
    font-weight: 600;
  }

  ul li{
    list-style: none;
    display: flex;
    align-items: start;
    position: relative;
    left: -0.25em;

    &:before{
      content: '';
      width: 0.25em;
      aspect-ratio: 1/1;
      flex-shrink: 0;
      position: relative;
      top: 0.5em;
      left: -0.9em;
      background: var(--c-red);
    }
  }

  &__container{
    display: flex;
    justify-content: space-between;
    padding-block: 100rem 40rem;

    @include sm{
      flex-direction: column-reverse;
      padding-block: 30rem 0;
    }
  }

  &__additions-desctop{
    width: 25%;
    padding-left: var(--p-x);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include sm{
      display: none;
    }

    &--padding{
      padding-block: 75rem;
    }
  }

  &__additions-mobile {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 44rem var(--p-x);
    row-gap: 44rem;

    display: none;

    @include sm{
      display: flex;
    }
  }

  &__addition{
    display: flex;
    flex-direction: column;
    gap: 2em;
    
    @include standard-font-small;
    font-weight: 300;

    @include sm{
      font-size: 8rem;
    }

    &:first-child{
      @include sm{
        width: 26%;
      }

      +.about-history__addition{
        @include sm{
          width: 67%;
          flex-direction: row;

          p{
            width: 50%;
          }
        }
      }
    }

    &:nth-child(3n){
      width: 100%;

      p:first-child{
        @include sm{
          font-size: 15rem;
        }
      }

      + .about-history__addition{
        @include sm{
          width: 26%;
        }

        +.about-history__addition{
          @include sm{
            width: 67%;
            flex-direction: row;

            p{
              width: 50%;
            }
          }
        }
      }
    }

    img{
      width: 50%;
      vertical-align: bottom;
      margin-bottom: -1em;
      background: var(--c-grey-bg-light);

      @include sm{
        width: 100%;
      }

      +p{
        @include sm{
          width: 100%;
        }
      }
    }

    iframe{
      width: 100% !important;
      height: 100% !important;
    }

    p{
      width: 66%;

      @include sm{
        width: 100%;
      }
    }

    p+p:nth-child(even){
      align-self: flex-end;

      @include sm{
        align-self: stretch;
      }
    }
  }

  iframe{
    @include adaptive((
            --width: (default: 236rem, xxl: 697, sm: 350)
    ));

    width: var(--width);
    height: calc(var(--width) / 16 *9);
    aspect-ratio: 16/9;
  }

  &__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3em;

    @include standard-font(true);

    @include sm{
      font-size: 10rem;
      padding-inline: var(--p-x);
    }
  }

  &__year{
    font-size: 21rem;
    font-weight: 300;

    @include xxl{
      font-size: vu(50, xxl);
    }

    @include sm{
      font-size: 15rem;
      width: 100%;
    }

    &-wrap{
      display: flex;
      justify-content: space-between;
    }

    &-content {
      width: 74%;
      display: flex;
      justify-content: space-between;

      @include sm{
        width: 100%;
        flex-direction: column;
        gap: 1.3em;
      }
    }
    &-text-content{
      width: 88.9%;
      line-height: 1.3em;
      display: flex;
      flex-direction: column;
      gap: 1.3em;
      font-weight: 300;

      @include sm{
        width: 100%;
      }

      >p, ul{
        @include adaptive((
                width: (default: 540rem, xxl: 1204, xl: 1058, sm: 100%)
        ))
      }
    }
  }

  &__slide{
    width: 80%;

    @include xl{
      width: 72%;
    }

    @include xxl{
      width: 77.5%;
    }

    @include sm{
      width: 100%;
    }

    img{
      aspect-ratio: 5/3;
      object-fit: cover;
      object-position: center;
    }

    p{
      @include sm{
        font-size: 8rem !important;
      }
    }
  }
}