@import "@/app/styles/mixins-and-extends";

.infopartners {
  padding-block: 15rem;
  background: #fff;

  .partners-slider{
    background: none;
    padding-left: 0;
    padding-right: 0;
    margin-block: 8rem 9rem;

    @include adaptive((
            gap: (default: 18rem, xl: 89, xxl: 72, sm: 15)
    ));

    @include sm{
      margin-top: 0;
      padding-top: 13rem;
    }

    &__swiper {
      @include adaptive((
              width: (default: 747rem, xl: 1200, xxl: 1817, sm: 296)
      ));

    }

    &__slide {
      @include adaptive((
              --h: (default: 45rem, xl: 72, xxl: 97, sm: 36)
      ));
    }
  }

  &__row{
    padding-inline: var(--p-x);
    background: #FFF;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 50%);
    display: flex;
    justify-content: space-between;

    @include adaptive((
            margin-top: (default: 30rem, xl: 68, xxl: 66, sm: 45)
    ));

    @include sm{
      flex-direction: column;
    }
  }

  &__block-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15rem;
    position: relative;
    flex-shrink: 0;

    @include adaptive((
            top: (default: -10.72rem, xxl: -24, xl: -22, sm: -29)
    ));


    @include sm{
      width: 100%;
    }

    &, p{
      font-weight: 300;

      @include adaptive((
              font-size: (default: 17rem, xxl: 35, xl: 30, md: 15, sm: 15)
      ))
    }

    p:last-child{
      font-weight: 400;
      @include adaptive((
              font-size: (default: 11rem, xxl: 27, xl: 25, md: 9, sm: 11)
      ));

      @include lg{
        font-weight: 500;
      }
    }
  }
}