@import "../../../app/styles/mixins";

.festival-main-screen{
  $bh: calc(1vh - 0.6rem);
  display: flex;

  *{
    color: #fff;
  }

  &__block-text{
    width: 683rem;
    position: relative;
    display: flex;
    align-items: center;
    background: var(--c-red);
    background-image: url("../../../../public/Assets/Pages/festival-to-people/bg/1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-inline: 20rem 46rem;

    @include sm{
      height: 57.5%;
    }

    >*:last-child{
      position: absolute;
      left: var(--p-y);
      bottom: 30rem;
      color: #C3C3C3;
    }
  }

  h1{
    font-size: min(27rem);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 500;
    position: relative;
    top: -8rem;

    @include md-book{
      font-size: 35rem;
    }

    @include sm{
      font-size: min(27rem, 3.5vh);
    }
  }
  
  &__img-wrapp {
    width: 449rem;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  &__img{
    position: static;
    height: 100%;

    @include md-book{
      height: 66%;
    }
  }

  &__btns{
    width: 100%;
    height: 50%;
    display: flex;

    @include md-book{
      height: 34%;
    }
  }

  table{
    border: none;
    height: 50%;
    table-layout: fixed;
    border-collapse: collapse;

    @include md-book{
      height: 34%;
    }
  }

  tr{
    height: 100%;
    display: flex;
  }

  td{
    width: 50%;
    padding: 20rem 25rem 30rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include sm{
      padding: 14rem 19rem 20rem;
    }

    &:nth-child(odd){
      background: var(--c-red);
    }

    &:nth-child(even){
      background: #6E7A64;
    }
  }

  h2{
    font-size: 25rem;
    font-weight: 400;
    line-height: 1.2em;

    @include md{
      font-size: 22px;
    }

    @include sm{
      font-size: min(20rem, 2.222vh);
    }
  }

  p{
    font-size: 16rem;
    line-height: 1.87em;

    @include sm{
      font-size: 13rem;
    }
  }

  a{
    font-weight: 500;
  }
}