@import "../../../app/styles/mixins-and-extends";

.festival-main-screen{
  $bh: calc(1vh - 0.6rem);
  display: flex;
  color: #fff;

  *{
    color: inherit;
  }

  &__block-text{
    width: 512rem;
    position: relative;
    display: flex;
    align-items: center;
    background: var(--c-main);
    padding-inline: var(--p-x) 46rem;

    @include xxl{
      padding-inline: var(--p-x) vu(39, xxl);
    }

    @include sm{
      height: 56%;
    }

    *{
      position: relative;
      z-index: 2;
    }

    >*:last-child{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30rem;
      padding-inline: var(--p-x);
      color: #C3C3C3;
      z-index: 2;
      display: flex;
      justify-content: space-between;

      @include sm{
        bottom: 20rem;
      }
    }
  }

  h1{
    text-transform: uppercase;
    top: -8rem;

    @include main-title-font;
  }
  
  &__img-wrapp {
    width: 512rem;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    @include sm {
      height: 44%;
    }
  }

  &__img{
    position: static;
    height: 50%;
    object-fit: cover;

    @include md-book{
      height: 66%;
    }

    @include sm{
      max-height: max(0px, calc(100% - 50vw));
    }
  }

  &__row-block{
    height: 50%;
    flex-shrink: 0;
    display: flex;

    @include md-book{
      height: 34%;
    }

    @include sm{
      height: 50vw;
    }
  }

  &__buttons-block{
    width: 50%;
    padding: 20rem 25rem 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include sm{
      padding: 14rem 19rem 20rem;
    }

    &:nth-child(odd){
      background: var(--c-red);
    }

    &:nth-child(even){
      background: #6E7A64;
    }
  }

  h2{
    font-weight: 300;
    line-height: 1.2em;

    @include adaptive((
            font-size: (
                    default: 25rem,
                    xxl: 50,
                    md: 20,
                    sm: 20
            )
    ));
  }

  p{
    line-height: 1.87em;

    @include standard-font;
  }
}