@import "../../../styles/mixins";

.festival-main-screen{
  $bh: calc(1vh - 0.6rem);
  display: flex;

  *{
    color: #fff;
  }

  &__block-text{
    width: 505rem;
    position: relative;
    display: flex;
    align-items: center;
    background: var(--c-main);
    background-image: url("../../../../public/Assets/Pages/Festival/images/bg/1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-inline: 20rem 46rem;

    @include sm{
      height: 57.5%;
    }
  }

  &__title{
    font-size: min(27rem);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 500;
    position: relative;
    top: -8rem;

    @include md-book{
      font-size: 35rem;
    }
  }
  
  &__img-wrapp {
    width: 517rem;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    @include sm {
      height: 42.5%;
    }
  }

  &__img{
    position: static;
    height: 50%;

    @include md-book{
      height: 66%;
    }
  }

  &__btns{
    width: 100%;
    height: 50%;
    display: flex;

    @include md-book{
      height: 34%;
    }
  }

  &__btn{
    width: 50%;
    padding: 20rem 25rem 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &--red{
      background: var(--c-red);
    }

    &--green{
      background: #6E7A64;
    }
  }

  &__title2{
    font-size: 25rem;
    font-weight: 400;

    @include md{
      font-size: 22px;
    }
  }

  &__link{
    font-size: 16rem;
    font-weight: 500;

    &--1{
      position: absolute;
      left: var(--p-y);
      bottom: 30rem;
      color: #C3C3C3;
    }
  }
}