@import "../../../app/styles/mixins-and-extends";

.home-news-slider{
  background: #fff;
  padding-block: 31rem;

  &__title{
    color: #6E7A64;
    font-size: 36rem;
    font-weight: 500;
    margin-bottom: 20rem;
  }


  &__slide{
    @include adaptive((
            width: (default: 397rem, xxl: 692)
    ));

    &--small{
      .news-item__img{
        aspect-ratio: 396/170;

        @include sm{
          aspect-ratio: 315/188;
        }
      }
    }
  }
}