@import "@/app/styles/mixins-and-extends";

.link-block{
  display: flex;
  justify-content: space-between;
  padding: 12rem 15rem 17rem 12rem;

  @include sm{
    padding: 10rem 15rem;
  }

  *{
    color: #ffffff;
    font-size: 20rem;
  }

  a u{
    text-underline-offset: 0.14em;
  }


  &__icon{
    display: flex;
  }
  &__arrow{
    width: 14rem;

    svg{
      width: auto;
      height: 14rem;
      transform: rotate(-90deg);
      position: relative;
      top: 3rem;
      left: 3rem;

      *{
        stroke: currentColor;
      }
    }
  }
}