@import "../../../app/styles/mixins-and-extends";

.news-list {
  padding-bottom: 32rem;
  position: relative;

  @include lg{
    padding-top: 26rem;
  }

  *{
    position: relative;
    z-index: 2;
  }

  &__bg{
    position: absolute;
    top: -506rem;
    right: 0;
    width: 835rem;
    z-index: 1;

    svg{
      width: 100%;
      height: auto;
    }
  }

  .titles-block{
    margin-bottom: 50rem;

    @include lg{
      margin-bottom: 78rem;
    }
  }

  &__row {
    gap: 10rem;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include sm{
      grid-template-columns: 1fr;
    }
    &--large {
      grid-template-columns: 5fr 7fr;

      &-reverse{
        grid-template-columns: 7fr 5fr;
      }

      @include sm{
        &, &-reverse{
          grid-template-columns: 1fr;
        }
      }
    }
  }
}