@import "../../../app/styles/mixins-and-extends";

.news-list {
  padding-block: 40rem 32rem;
  position: relative;

  .titles-block{
    margin-bottom: 50rem;

    @include lg{
      margin-bottom: 78rem;
    }
  }

  &__row {
    gap: 10rem;
    padding-bottom: 45rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include sm{
      grid-template-columns: 1fr;
    }

    &:last-child{
      padding-bottom: 0;
    }

    &--large {
      grid-template-columns: 4fr 8fr;

      &-reverse{
        grid-template-columns: 8fr 4fr;
      }

      @include sm{
        &, &-reverse{
          grid-template-columns: 1fr;
        }
      }
    }
  }
}