@import "../../app/styles/mixins-and-extends";

.header{
  background: #fff;
  position: sticky;
  top: 0;
  padding-block: calc(14rem * var(--header-scale));
  z-index: 7;
  box-shadow: -3px 11px 66.6px 0px #0000000D, 0px 8px 8.6px -6px #00000012, 0px 0.5px 95.3px 0px #0000000D;

  &--menu{
    background: none;
    box-shadow: none;

    *{
      color: #fff;
    }

    svg *{
      fill: #fff;
    }
  }

  &__container{
    width: 100%;
    @include flex-sb-c
  }

  &__left-block{
    width: calc(317rem * var(--header-scale));
    @include flex-sb-c;

    @include sm{
      width: 174rem;
    }
  }

  svg{
    width: 100%;
    height: auto;
  }

  &__logo{
    width: calc(14.4rem * var(--header-scale));

    @include hover-scale;
  }

  &__menu{
    width: calc(19.8rem * var(--header-scale));

    .header--menu & {
      width: calc(14rem * var(--header-scale));
      position: relative;
      top: calc(1rem * var(--header-scale));
    }

    &-wrapp{
      font-size: calc(12rem * var(--header-scale));
      letter-spacing: 0.02em;
      color: var(--c-main);
      gap: calc(20rem * var(--header-scale));

      @include flex-sb-c;

      @include sm{
        font-size: 15rem;
      }
    }
  }

  &__search{
    width: calc(13.8rem * var(--header-scale));

    .header--menu & *{
      fill: transparent;
      stroke: #fff;
    }
  }
}