@import "../../app/styles/mixins-and-extends";

.header{
  background: #fff;
  position: sticky;
  top: 0;
  padding-block: 14rem;
  z-index: 5;
  box-shadow: -3px 11px 66.6px 0px #0000000D, 0px 8px 8.6px -6px #00000012, 0px 0.5px 95.3px 0px #0000000D;

  &--menu{
    background: none;
    box-shadow: none;

    *{
      color: #fff;
    }

    svg *{
      fill: #fff;
    }
  }

  &__container{
    width: 100%;
    @include flex-sb-c
  }

  &__left-block{
    width: 325rem;
    @include flex-sb-c;

    @include sm{
      width: 174rem;
    }
  }

  svg{
    width: 100%;
    height: auto;
  }

  &__logo{
    width: 14.4rem;


  }

  &__menu{
    width: 16.8rem;

    &-wrapp{
      width: 83.8rem;
      font-size: 13rem;
      letter-spacing: 0.02em;
      color: var(--c-main);

      @include flex-sb-c;

      @include sm{
        font-size: 15rem;
      }
    }
  }

  &__search{
    width: 13.8rem;

    .header--menu & *{
      fill: transparent;
      stroke: #fff;
    }
  }
}