@import "@/app/styles/mixins-and-extends";

.contacts-main-screen{
  height: max(calc(100vh - var(--header-height)), 42vw);
  width: 100%;
  max-height: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 7rem;
  position: relative;

  @include sm {
    max-height: unset;
    height: max(calc(100vh - var(--header-height)), 1032rem);
  }

  *{
    font-weight: 300;
    @include standard-font(true);

    @include sm{
      font-size: 12rem;
    }
  }

  b, strong{
    font-weight: 600;
  }
  
  &__bg{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 50%;

    @include sm{
      width: 170%;
      right: -20vw;
      top: -10vw;
    }
  }

  .container{
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &__title{
    color: var(--c-grey);
    font-weight: 200;

    @include adaptive((
            font-size: (default: 85rem, xxl: 150, xl: 145, md: 72, sm: 68)
    ))
  }

  &__addresses{
    display: flex;
    align-items: end;
    margin-block: 35rem 45rem;

    @include adaptive((
            gap: (default: 92rem, xxl: 229, xl: 175, md: 62, sm: 44)
    ));
    @include sm{
      flex-direction: column;
      align-items: start;
    }
  }

  &__column{
    line-height: 1.3em;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
  }

  &__images{
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 219rem) 113rem repeat(2, 219rem);
    gap: 7rem;

    @include sm{
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__img{
    height: 146rem;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @include sm{
      &--1{
        grid-column: 1/4;
        grid-row: 1/2;
      }

      &--2{
        grid-column: 4/7;
        grid-row: 1/2;
      }

      &--3{
        grid-column: 1/3;
        grid-row: 2/3;
      }

      &--4{
        grid-column: 3/7;
        grid-row: 2/3;
      }

      &--5{
        height: 262rem;
        grid-column: 1/7;
        grid-row: 3/4;
      }
    }
  }
}