  @import "@/app/styles/mixins-and-extends";

.detalis{
  &__btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 2;
    text-align: left;

    &--big-gray{
      padding: vu(29, xl) var(--p-x) vu(36, xl);
      background: var(--c-grey-bg-light);
      line-height: 1.05em;

      @include title-small-font;

      @include xxl{
        padding: vu(40.5, xxl) var(--p-x) vu(50.5, xxl);
      }

      @include lg{
        padding: 17rem var(--p-x) 21rem;
      }


      .detalis__icon{
        font-size: 36rem;
        font-weight: 300;
        position: relative;
        top: 1rem;
      }
    }

    &--btn-bg{
      padding: 9rem 15rem 11.5rem 12rem;
      gap: 18rem;
      background: inherit;
      align-items: stretch;

      @include xxl{
        padding: vu(19, xxl) 15rem vu(24.2, xxl) 12rem;
      }

      @include sm{
        text-align: left;
        align-items: center;
        //padding: 10rem 15rem 4rem;
      }

      &:disabled{
        background: var(--c-grey-bg);

        +div{
          height: 0;
        }
      }

      >*:first-child{
        position: relative;
        top: -0.5rem;
        line-height: 1.5em;

        @extend %text-overflow-ellipsis;

        @include sm{
          top: 0;
        }
      }

      .detalis__icon{
        position: relative;
        top: 1rem;
      }
    }

    &--sticky{
      top: var(--header-height);
      position: sticky;
    }
  }

  &__icon{
    transition: 0.5s;
    transform: rotate(0);

    .detalis--opened &{
      transform: rotate(405deg);
    }
  }

  &__right-element{
    transition: 0.5s;
    position: relative;
    opacity: 1;

    @include sm{
      display: flex;
      align-items: start;
      top: 0.5rem;
    }

    *{
      @include sm{
        font-size: 15rem;
      }
    }

    .detalis--opened &{
      opacity: 0.5;

      @include sm{
        opacity: 1;
      }
    }
  }
}