@import "@/app/styles/mixins-and-extends";

.detalis{
  overflow: hidden;

  &__btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: left;

    &--big-gray{
      padding: vu(29, xl) var(--p-x) vu(36, xl);
      background: var(--c-grey-bg-light);
      line-height: 1.05em;

      @include title-small-font;

      @include xxl{
        padding: vu(40.5, xxl) var(--p-x) vu(50.5, xxl);
      }

      @include lg{
        padding: 17rem var(--p-x) 21rem;
      }


      .detalis__icon{
        font-size: 36rem;
        font-weight: 300;
        position: relative;
        top: 1rem;
      }
    }
  }

  &__icon{
    transition: 0.5s;
    transform: rotate(0);

    .detalis--opened &{
      transform: rotate(405deg);
    }
  }


  &__content{
  }
}