

.detalis{
  overflow: hidden;

  &__btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  &__icon{
    transition: 0.5s;
    transform: rotate(0);

    .detalis--opened &{
      transform: rotate(405deg);
    }
  }


  &__content{
    transition: 0.5s;
  }
}