@import "@/app/styles/mixins-and-extends";

.about-map {
    padding-top: 42rem;
    padding-bottom: 35rem;
    position: relative;
    z-index: 1;
    background: #fff;

    &__line {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: auto;
        left: 0;
        bottom: 0;
        object-fit: contain;
    }

    &__title {
        color: var(--c-red);
        font-size: 23rem;
        line-height: 28rem;
        letter-spacing: 0.02em;
        font-weight: 500;
        margin-bottom: 42rem;
    }

    &__top {
        display: flex;
        align-items: flex-start;
        gap: 96rem;

        &-col {
            @include standard-font(true);

            &:first-child {
                max-width: 232rem;
            }

            &:last-child {
                max-width: 452rem;
            }
        }
    }

    &__info {
        margin-top: 82rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 14rem;

        &-col {
            h3 {
                font-size: 17rem;
                line-height: 19rem;
                letter-spacing: 0.02em;
                color: var(--c-green-text);
                margin-bottom: 16rem;
                font-weight: 500;
            }

            p {
                @include standard-font-small;
                margin-bottom: 16rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__bottom {
        margin-top: 48rem;
        @include standard-font(true);
    }

    @include sm {
        &__line {
            height: 716rem;
            width: auto;
            left: -270rem;
        }

        &__top {
            flex-direction: column;
            gap: 32rem;
            margin-bottom: 16rem;

            &-col {
                width: 100%;
                
                &:first-child, &:last-child {
                    max-width: 100%;
                }
            }
        }

        &__info {
            margin-top: 16rem;
            grid-template-columns: 1fr;
            gap: 36rem;

            &-col {
                &:nth-child(2) {
                    padding-left: 120rem;
                }
            }
        }
    }
}