@import "../../app/styles/mixins-and-extends";

.footer{
  position: relative;
  z-index: 3;
  padding-block: 17rem 15rem;
  background: var(--c-main);

  *{
    line-height: 1.8em;
    color: #fff;
    font-weight: 200;

    @include adaptive((
            font-size: (
                    default: 10rem,
                    xxl: 20,
                    md: 8,
                    sm: 10
            )
    ));
  }

  &__container{
    display: grid;
    grid-template-columns: repeat(12, calc(100%/12));

    @include sm{
      gap: 6rem;
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    gap: 32rem;

    &--1{
      grid-column: 1/ span 3;

      @include sm {
        grid-column: 1/6;
      }
    }

    &--2{
      grid-column: 8/span 3;
      grid-row: 1/2;

      @include sm{
        grid-column: 7/12;
        grid-row: 1/2;
        padding-bottom: 64rem;
      }
    }

    &--3 {
      grid-column: 11/span 2;
    }

    @include sm{
      display: none;
    }

    &--mobile-visible{
      @include sm{
        display: flex;
      }

      &-1{
        @include sm {
          grid-column: 1/6;
        }
      }

      &-2{
        @include sm{
          grid-column: 7/11;
          grid-row: 1/2;
        }
      }
    }

  }

  h2, &__navigation *{
    line-height: 1.1em;
    font-weight: 200;
    flex-shrink: 0;
    @include adaptive((
            font-size: (
                    default: 16rem,
                    xxl: 35,
                    md: 13,
                    sm: 13
            )
    ));
    @include sm{
      width: 138rem;
    }
  }

  h2{
    opacity: 0.6;
  }

  &__navigation p{
    line-height: 1.5em;
  }

  a{
    @extend %link-hover-underline
  }

  &__socials{
    padding-top: 32rem;

    *{
      line-height: 1em;
    }
    p{
      display: flex;
      align-items: center;
      gap: 7rem;
    }
  }
}