@import "@/app/styles/mixins-and-extends";

.festival-projects{
  padding-block: 25rem 50rem;
  background: var(--c-grey-bg-light);

  .titles-block{
    margin-bottom: 25rem;
  }

  &__slide{
    @include adaptive((
            width: (default: 233rem, xxl: 470, sm: 170)
    ));
  }
}