@import "@/app/styles/mixins-and-extends";
.festival-protections{
  background: #fff;
  padding-block: 15rem;

  &__title{
    color: #2A3A2B;
    padding-bottom: 36rem;

    &-item{
      width: 100%;
      flex-shrink: 9;
      display: flex;
      justify-content: space-between;
    }
  }

  &__place{
    width: 224rem;

    @extend %text-overflow-ellipsis;

    @include lg{
      width: 222rem;
    }

    @include sm{
      width: 130rem;
      padding-right: 15rem;
    }
  }

  .detalis {
    border-top: var(--w-line) solid var(--c-line);

    &:last-child{
      border-bottom: var(--w-line) solid var(--c-line);
    }

    &__btn {
      padding: 8.6rem 0 9.5rem;
      color: var(--c-red);
      font-weight: 500;
      background: #fff;
      transition: 0.5s;

      @include standard-font-big;

      @include sm{
        font-size: 15rem;
      }

      &:hover{
        color: #A11E0E;
      }
    }

    &__icon{
      font-size: 25rem;
      font-weight: 400;
    }

    >div, &__content{
      width: 100%;
      min-inline-size: 0;
    }

    &--opened{
      .festival-protections__body .festival-protections__row:hover{
        background: var(--c-red);

        *, .festival-protections__cell--red{
          color: #fff !important;
        }
      }
    }
  }

  &__table{
    min-width: 734rem;
  }

  &__table,
  &__table *{
      font-weight: 500;
      @include adaptive((
              font-size: (
                      default: 12rem,
                      xxl: 22,
                      xl: 22,
                      md: 9.6,
                      sm: 13
              )
      ));
  }

  &__head{
    margin-block: 10rem 2em;
  }

  &__body{
    display: flex;
    flex-direction: column;
    gap: 0.08em;

    &::-webkit-scrollbar { width: 0 !important }
  }

  &__row{
    min-width: 734rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 5fr 3fr;
    gap: 6rem;
    transition: 0.3s;
    padding-block: 3rem;
    padding-inline: 5rem;

    @include xxl{
      grid-template-columns: repeat(3, 2fr) 1fr 11fr 6fr;
    }

    @include lg{
      grid-template-columns: 1.1fr repeat(3, 1fr) 4.9fr 3fr;
    }
  }

  &__cell{
    overflow: hidden;
    text-align: left;
    line-height: 1.5em;
    height: 1.5em;

    @extend %text-overflow-ellipsis;

    .festival-protections__body &{
      transform: translateX(0.5rem);
    }
  }

  &__cell--head{
    color: var(--c-grey);

    @include standard-font-small;
  }

  &__cell--red{
    color: var(--c-red);
  }

  &__row > &__cell{
    &:first-child {
      font-weight: 600;

      @include sm {
        font-weight: 500;
      }
    }

    &:nth-child(2) {
      text-align: center;

      @include xxl {
        text-align: left;
      }
    }
  }

  &__row--break{

    *{
      color: var(--c-grey);
    }
  }

  .lenis {
    max-height: 275rem;
  }
}
