@import "@/app/styles/mixins-and-extends";
.festival-protections{
  background: #fff;
  padding-block: 15rem;

  &__title{
    color: #2A3A2B;
    padding-bottom: 36rem;

    &-item{
      width: 100%;
      flex-shrink: 9;
      display: flex;
      justify-content: space-between;
    }
  }

  &__place{
    width: 224rem;

    @extend %text-overflow-ellipsis;

    @include lg{
      width: 222rem;
    }

    @include sm{
      width: 130rem;
      padding-right: 15rem;
    }
  }

  .detalis {
    border-top: var(--w-line) solid var(--c-line);

    &:last-child{
      border-bottom: var(--w-line) solid var(--c-line);
    }

    &__btn {
      padding: 8.6rem 0 9.5rem;
      color: var(--c-red);
      font-weight: 500;
      background: #fff;
      transition: 0.5s;

      @include standard-font-big;

      @include sm{
        font-size: 15rem;
      }

      &:hover{
        color: #A11E0E;
      }
    }

    &__icon{
      font-size: 25rem;
      font-weight: 400;
    }

    >div{
      @include sm{
        overflow-x: auto;

      }
    }

    &--opened{
      table{
        overflow-x: auto;
      }

      tbody tr:hover{
        background: var(--c-red);

        *, .red, .red *{
          color: #fff !important;
        }
      }
    }
  }

  table{
    width: 100%;
    overflow-x: hidden;
    display: block;
    >*{
      display: block;
    }

    *{
      font-weight: 500;
      @include adaptive((
              font-size: (
                      default: 12rem,
                      xxl: 22,
                      xl: 22,
                      md: 9.6,
                      sm: 13
              )
      ));
    }


    thead{
      position: sticky;
      top: 0;
      margin-bottom: 2em;
    }

    tbody{
      display: flex;
      flex-direction: column;
      gap: 0.08em;

      &::-webkit-scrollbar { width: 0 !important }
    }

    tr{
      line-height: 1.5em;
    }
  }

  tr{
    min-width: 734rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 6fr 3fr;
    align-items: baseline;
    gap: 6rem;
    transition: 0.3s;
    padding-block: 3rem;
    padding-inline: 5rem;

    @include lg{
      grid-template-columns: 1.1fr repeat(2, 1fr) 5.9fr 3fr;
    }
  }

  td, th{
    overflow: hidden;
    &, *{
      text-align: left;

      @extend %text-overflow-ellipsis
    }
  }

  th, th *{
    color: var(--c-grey);

    @include standard-font-small;
  }

  td{
    &:first-child {
      &, * {
        font-weight: 600;

        @include sm {
          font-weight: 500;
        }
      }
    }
    &:nth-child(2) {
      &, * {
        text-align: center;

        @include xxl {
          text-align: left;
        }
      }
    }
  }

  .lenis {
    max-height: 316rem;
    margin-top: 18rem;
  }
}