.festival-price{
  background: #1D2E23;
  padding-block: 32rem 8rem;

  *{
    color: #fff;
  }

  &__body{
    display: flex;
    justify-content: flex-end;
    margin-top: 34rem;
  }

  table{
    width: 566rem;
    max-width: 100%;
    table-layout: fixed;
    border-spacing: 0 13rem;
    text-align: left;

    th{
      padding-bottom: 17rem;

      *{
        font-size: 16rem;
        color: var(--c-green-text);
      }
    }

    td{
      border-bottom: max(1px, 1rem) solid var(--c-green-text);
      line-height: 1em;
      font-size: 20rem;

      *{
        font-size: inherit;
        font-weight: 300;
      }
    }
  }

  &__running-line{
    width: 100%;
    overflow: hidden;
    margin-top: 62rem;

    *{
      white-space: nowrap;
    }

    &-wrapp{
      display: inline-flex;
      flex-direction: row;
      gap: 26rem;
    }

    &__player{
      gap: 26rem;
    }

    p{
      color: var(--c-red);
      text-transform: uppercase;
      font-size: 20rem;
      font-weight: 300;
      gap: 26rem;
    }
  }
}