@import "@/app/styles/mixins-and-extends";
.festival-price{
  background: var(--c-main);
  padding-bottom: 8rem;

  *{
    color: #fff;
  }

  &__title{
    font-weight: 400;

    @include adaptive((
            padding-top: (default: 0.9em, xxl: 52, xl: 36, md: 0.6em, sm: 15 )
    ));
  }

  &__body{
    display: flex;
    justify-content: flex-end;
    margin-top: 34rem;
  }

  table{
    width: 566rem;
    max-width: 100%;
    table-layout: fixed;
    border-spacing: 0 13rem;
    text-align: left;

    @include sm{
      width: 100%;
    }

    th{
      padding-bottom: 17rem;

      &, *{
        color: var(--c-green-text);
        font-weight: 400;
        letter-spacing: 0.01em;

        @include adaptive((
                font-size: (default: 14rem, xxl: 27, xl: 22, md: 16rem, sm: 15)
        ));
      }
    }

    td{
      border-bottom: var(--w-line) solid var(--c-green-text);
      line-height: 1em;

      &, *{
        font-size: 20rem;
        font-weight: 300;
      }
    }
  }

  &__running-line{
    width: 100%;
    overflow: hidden;
    margin-top: 62rem;

    *{
      white-space: nowrap;
    }

    &-wrapp{
      display: inline-flex;
      flex-direction: row;
      gap: 26rem;
    }

    &__player{
      gap: 26rem;
    }

    p{
      text-transform: uppercase;
      font-size: 20rem;
      font-weight: 300;
      gap: 26rem;
    }
  }
}