@import "@/app/styles/mixins-and-extends";

.documents{
  background: #fff;
  padding-top: 20rem;

  &__btns{
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__btn{
    background: var(--c-main);

    &:first-child{
      background: var(--c-green-text);
    }
  }
}