@import '@/app/styles/mixins-and-extends';
.map{
  .ymaps3--main-engine-container *{
    filter: grayscale(100%);
  }
  
  &__marker{
    width: 15rem;
    transform: translate(-23%, -105%);

    @include md{
      width: 25rem;
    }
  }
}