@import '@/app/styles/mixins-and-extends';
.map{
  .ymaps3x0--main-engine-container *{
    filter: grayscale(100%);
  }

  .ymaps3x0--top-engine-container{
    position: absolute;
    top: 0;

    img{
      width: 15rem;
      transform: translate(-23%, -105%);

      @include md{
        width: 25rem;
      }
    }
  }
}