@import "@/app/styles/mixins";
.festival-protections{
  background: #fff;
  padding-block: 30rem;

  &__title{
    font-size: 36rem;
    font-weight: 500;
    font-variant-numeric: tabular-nums;
    color: #2A3A2B;
    margin-bottom: 20rem;
  }


  .detalis {
    border-top: max(1px, 1rem) solid #BEBCBB;

    &:last-child{
      border-bottom: max(1px, 1rem) solid #BEBCBB;
    }

    &__btn {
      padding: 7rem 0;
      font-size: 16rem;
      color: var(--c-red);
      font-weight: 500;
      background: #fff;
    }

    &--opened{
      table{
        overflow-x: auto;
      }

      tbody tr:hover{
        background: var(--c-red);

        *, .red, .red *{
          color: #fff !important;
        }
      }
    }
  }

  table{
    width: 100%;
    overflow-x: hidden;
    display: block;
    >*{
      display: block;
    }
    *{
      font-size: 13rem;
      font-weight: 500;

    }

    tbody{
      display: flex;
      flex-direction: column;
      gap: 6rem;
      margin-top: 42rem;
      overflow-y: auto;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;
      max-height: 286rem;

      &::-webkit-scrollbar { width: 0 !important }
    }
  }

  tr{
    min-width: 734rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 6fr 3fr;
    gap: 17rem;
    transition: 0.3s;
    padding-block: 3rem;
    padding-inline: 5rem;
  }

  td, th{
    overflow: hidden;
    *{
      text-align: left;
      overflow: hidden;
      text-wrap: nowrap;
      text-overflow: ellipsis;
    }
  }

  th{
    color: #959595;
  }

  td{
    &:first-child *{
      font-size: 10.5rem;

      @include sm{
        font-size: 13rem;
      }
    }
  }
}