@import "../../../app/styles/mixins-and-extends";

.festival-business-program{
  background: #fff;
  padding-block: 26rem 8rem;

  .detalis{
    &__btn{
      color: var(--c-red);
    }
  }

  &__session{
    padding-block: 41rem 65rem;

    &:first-child{
      background: linear-gradient(180deg, var(--c-grey-bg-light) 0%, rgba(239, 239, 239, 0) 230rem);

    }

    &:nth-child(even){
      background: var(--c-grey-bg-light-2);
    }

    .container>p:first-child {
      margin-bottom: 17.333rem;

      @include standard-font-big
    }

    h2{
      max-width: 828rem;

      @include title-font;

      @include sm{
        font-size: 28rem;
        margin-bottom: 17.333rem;
      }

      ~p{
        width: 43.3em;
        margin-left: 328rem;
        margin-bottom: 17.333rem;

        @include adaptive((
                font-size: (
                        default: 10rem,
                        xxl: 22,
                        xl: 18,
                        md: 11,
                        sm: 13
                )
        ));

        @include sm{
          width: 100%;
          margin-left: 0;
        }

        + h3, +.festival-business-program__content, + .swiper{
          margin-top: 40.3rem;
        }
      }
    }

    h3{
      @include title-small-font2;

      font-weight: 400;
      margin-bottom: 36rem;

      @include sm{
        font-weight: 500;
      }
    }
  }

  &__content{
    display: flex;
    gap: vu(301, xl);

    @include lg{
      gap: 94rem;
    }
  }

  &__rolle{
    font-weight: 400;
    margin-bottom: 36rem;

    @include standard-font-big;

    @include sm{
      font-weight: 400;
      margin-bottom: 20rem;
    }
  }

  &__moderators{
    display: flex;
    flex-direction: column;
    gap: 37rem;
    width: vu(315, xl);

    @include lg{
      width: 234rem;
    }

    .session-user__img{
      margin-bottom: 28rem;
    }
  }

  &__speakers{
    display: flex;
    flex-wrap: wrap;
    gap: 37rem 91rem;

    .session-user{
      width: vu(214, xl);

      @include lg{
        width: 151rem;
      }
    }
  }

  &__slide{
    width: 160rem;
  }
}

.session-user{
  *{
    @include standard-font-small
  }

  &__img{
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 22rem;
  }

  &__name{
    font-weight: 600;
    margin-bottom: 1em;

    @include sm{
      margin-bottom: 5rem;
    }
  }
}