@import "../../styles/mixins-and-extends";

.news-article{
  background: var(--c-grey-bg-light-2);
  padding-bottom: 26rem;

  *{
    @include standard-font
  }

  img{
    width: 100%;
  }
  
  .container{
    position: relative;
  }

  &__header{
    margin-block: 38rem;
    position: relative;
    display: flex;
    justify-content: flex-end;

    @include sm{
      flex-direction: column;
      align-items: flex-end;
      gap: 4rem;
      margin-top: 25rem;
    }

    *{
      color: #959595;
    }
  }

  &__place{
    position: absolute;
    top: 0;
    left: 487rem;

    @include sm{
      position: static;
    }
  }

  &__title{
    width: 477rem;

    @include title-font;

    @include sm{
      width: 100%;
    }
  }

  &__description{
    color: var(--c-red);
    width: 36.7em;
    line-height: 1.3em;
    margin-block: 40rem;

    @include sm{
      width: 100%;
      margin-bottom: 30rem;
    }
  }

  &__main{
    display: flex;
    justify-content: space-between;

    @include sm{
      flex-direction: column;
      gap: 28rem;
    }
  }

  &__aside{
    width: 477rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include sm{
      width: 100%;
    }
  }

  &__body {
    width: 475rem;
    $x: 1em;

    @include sm{
      width: 100%;
    }

    &, *{
      @include adaptive((
              font-size: (
                      default: 13rem,
                      xxl: 18,
                      xl: 16,
                      md: 11,
                      sm: 13
              )
      ));

      &:first-child{
        margin-top: 0;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }

    h2 {
      margin-block: 18rem 8rem;

      @include title-small-font2
    }

    >p {
      margin-block: 0.9em;
      line-height: 1.3em;
    }

    ol{
      list-style: none;
      margin-block: 0.9em;

      *{
        line-height: 1.3em;
      }

      li {
        counter-increment: num;
        display: flex;
        gap: 0.7em;

        &::before{
          content: counter(num) '.';
          width: 1.08em;
        }
      }
    }

    ul{
      list-style-position: inside;

      li{
        display: flex;
        gap: 9rem;
      }
    }

    table{
      border-spacing: 0 10rem;
      width: 100%;
      table-layout: fixed;

      *{
        @include standard-font-small
      }
      tr{
        margin-block: 0.9em;

        &:first-child{
          margin-top: 0;
        }

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    b, strong{
      font-weight: 600;
    }

    a{
      @extend %link-hover-underline
    }
  }

  &__slider{
    margin-top: 18rem;
  }

  &__slide{
    width: 314rem;

    p{
      margin-top: 0.9em;

      @include standard-font-small
    }
  }

  &__link{
    font-weight: 500;
    margin-top: 30rem;

    *{
      @include standard-font
    }

    &--md{
      @include sm{
        display: none;
      }
    }

    &--sm{
      display: none;

      @include sm{
        display: block;
        margin-bottom: 30rem;
      }
    }
  }
}