@import "@/app/styles/mixins-and-extends";

.documents-details{
  background: var(--c-main);

  *{
    color: #fff;
    font-weight: 300;

    @include standard-font-big
  }

  .detalis{
    background: inherit;
  }

  &__content {
    display: flex;
    gap: 27rem;
    padding: 15rem;

    @include sm{
      gap: 10rem;
      justify-content: space-between;
    }
  }


  &__running-line {
    gap: 26rem;
  }
}