@import "../../../app/styles/mixins-and-extends";

.about-presidium{
  padding-bottom: 10rem;
  position: relative;

  &__bg{
    position: absolute;
    z-index: -1;
    width: 93vw;
    right: -2vw;
    bottom: 1vw;

    @include xl{
      bottom: 0.6vw;
      right: -2vw;
    }

    @include xxl{
      bottom: -2.5vw;
      right: -1vw;
    }

    @include md{
      right: -5vw;
      bottom: 5vw;
    }

    @include sm{
      width: 178vw;
      bottom: 58vw;
      right: -43vw;
    }
  }

  &__title{
    color: var(--c-red);
    padding-inline: var(--p-x);
    margin-bottom: 40rem;

    @include adaptive((
            padding-top: (default: 0.9em, xxl: 52, xl: 36, md: 0.6em, sm: 15 )
    ));

    @include title-small-font;
  }

  &__running-line {
    width: 100%;
    overflow: hidden;

    &-wrapp {
      display: inline-flex;
      flex-direction: row;
      gap: 9rem;

      @include sm{
        gap: 7rem;
      }
    }

    &__player {
      gap: 9rem;

      @include sm{
        gap: 7rem;
      }
    }
  }

  &__item{
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: var(--c-grey-bg-light);

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__slide{
    display: flex;
    flex-direction: column;
    gap: 9rem;
    width: var(--size);

    @include adaptive((
            --size: (default: 186rem, xxl: 420, xl: 350, md: 155, sm: 174)
    ));

    @include sm{
      gap: 7rem;
    }
  }

  &__info{
    background: rgba(42, 58, 43, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    transition: 0.5s;

    &--opened{
      top: 0;
    }

    @include hover{
      .about-presidium__item:hover &{
        top: 0;
      }
    }

    .lenis__content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12rem;
      padding: 12rem;
      min-height: var(--size);
    }

    *{
      color: #fff;

      //@include adaptive((
      //        font-size: (
      //                default: 13rem,
      //                xxl: 22,
      //                xl: 18,
      //                md: 11,
      //                sm: 10
      //        )
      //));

      @include standard-font-small
    }
  }

  &__name{
    margin-bottom: 6rem;

    @include standard-font-big;
  }
}