@import "@/app/styles/mixins-and-extends";

.festival-documents{
  background: #fff;
  padding-block: 50rem 35rem;

  &__btns{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 35rem;
  }

  &__btn{
    background: var(--c-main);
  }
}